<div *ngIf="match" class="container-fluid">
    <h3 mat-dialog-title class="text-center"> {{ match.home_team.name }} - {{ match.guest_team.name }} </h3>
    <mat-dialog-content>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="container">
        <div class="row">
          <div class="col">
            <button mat-button mat-dialog-close>{{ 'CANCEL' }}</button>
          </div>
          <div class="col">
            <button mat-button (click)="onSaveClicked()">{{ 'SAVE' }}</button>
          </div>
        </div>
      </div>
    </mat-dialog-actions>
  </div>