<div *ngIf="match" class="container-fluid">
  <h3 mat-dialog-title class="text-center" *ngIf="match.home_team && match.guest_team"> {{ match.home_team.name }} - {{ match.guest_team.name }} </h3>
  <mat-dialog-content>
    <div class="row" style="justify-content: center;">
      <div class="col" style="text-align: center;">
        <div *ngIf="!match.pitch">
          <i class="material-icons">
            location_off
          </i>
          {{ 'NO_PTICH_SET' | translate }}
        </div>
        <div *ngIf="match.pitch">
          <span *ngIf="newMatchPitch">{{ 'OLD_PITCH' | translate }}:</span>
          <a href="https://www.google.com/maps/?q={{match.pitch.location_latitude}},{{match.pitch.location_longitude}}" target="_blank"
            style="cursor: pointer;">
            {{ match.pitch.label }}
            <i class="material-icons">
              location_on
            </i>
          </a>
        </div>
        <div *ngIf="newMatchPitch.value?.id">
          <span>{{ 'NEW_PITCH' | translate}}:</span>
          <a href="https://www.google.com/maps/?q={{newMatchPitch.value.location_latitude}},{{newMatchPitch.value.location_longitude}}" target="_blank"
            style="cursor: pointer;">
            {{ newMatchPitch.value.label }}
            <i class="material-icons">
              location_on
            </i>
          </a>
        </div>
      </div>
    </div>
    <div class="row" style="justify-content: center;">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="{{ 'PITCH' | translate }}" [matAutocomplete]="pitchAutoComplete"
          [formControl]="newMatchPitch" />
        <mat-autocomplete #pitchAutoComplete [displayWith]="displayPitch">
          <mat-option *ngFor="let pitch of filteredPitches | async" [value]="pitch">
            <span>{{ pitch.label }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col" style="text-align:center;">
        <button mat-button (click)="showCreateNewPitch()">
          {{ 'BUTTON.CREATE_PITCH' | translate}}
          <i class="material-icons">
            add
          </i>
        </button>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>{{ 'BUTTON.CANCEL' | translate }}</button>
    <button mat-button (click)="onSaveClicked()">{{ 'BUTTON.SAVE' | translate}}</button>
  </mat-dialog-actions>
</div>