<div *ngIf="match" class="container-fluid">
  <h3 mat-dialog-title class="text-center"> {{ match.home_team.name }} - {{ match.guest_team.name }} </h3>
  <mat-dialog-content>
    <div class="container">
      <div class="row" style="justify-content: center">
        <div class="col">
          <button mat-button [owlDateTimeTrigger]="dt5">TIME</button>
        </div>
      </div>
      <div class="row" style="justify-content: center">
        <div class="col">
          <input matInput #kickoffInput [owlDateTime]="dt5" (dateTimeChange)="kickoffSet($event)" disabled>
          <owl-date-time [pickerMode]="'dialog'" #dt5></owl-date-time>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'CANCEL' }}</button>
    <button mat-button (click)="onSaveClicked()">{{ 'SAVE' }}</button>
  </mat-dialog-actions>
</div>