<div *ngIf="match" class="container-fluid">
  <h3 mat-dialog-title class="text-center"> {{ match.home_team?.name }} - {{ match.guest_team?.name }} </h3>
  <mat-dialog-content>
    <div class="container">
      <div class="row" style="justify-content: center; margin-bottom: 16px;">
        <div class="col text-center">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" placeholder="{{ 'BUTTON.SET_DAY' | translate }}" [(ngModel)]="kickoffDate"
                (dateInput)="kickoffChanged()" (dateChange)="kickoffChanged()" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker color="primary"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="example-full-width text-center">
              <input matInput #time type="time" [(ngModel)]="kickoffTime" (change)="kickoffChanged()" placeholder="{{ 'BUTTON.SET_TIME' | translate }}">
          </mat-form-field>
        </div>
      </div>
      <div class="row" style="justify-content: center">
        <div class="col text-center">
          <span *ngIf="match.kickoff">{{ 'OLD_KICKOFF_TIME' | translate}}:</span>
        </div>
        <div class="col">
          <span *ngIf="match.kickoff">{{ match.kickoff | date:'short':'':i18Service.currentLang }}</span>
        </div>
      </div>
      <div class="row" style="justify-content: center">
        <div class="col text-center">
          <span *ngIf="matchKickoff">{{ 'NEW_KICKOFF_TIME' | translate}}:</span>
        </div>
        <div class="col">
          <span *ngIf="matchKickoff">{{ matchKickoff | date:'short':'':i18Service.currentLang }}</span>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>{{ 'BUTTON.CANCEL' | translate }}</button>
    <button mat-button (click)="onSaveClicked()" [disabled]="!matchKickoff">{{ 'BUTTON.SAVE' | translate }}</button>
  </mat-dialog-actions>
</div>