<ng-container *ngIf="user">
  <mat-tab-group>
    <mat-tab *ngFor="let team of user.teams" label="{{ team.name }}">
      <mat-tab-group>
        <mat-tab label="{{ 'TAB.CONTACT' | translate }}">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title" translate>EDIT_TEAM_CONTACT_INFO_TEXT</h5>
                <app-edit-contact [contact]="team.contact" (contactChanged)="saveContact(team.id, $event)"></app-edit-contact>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</ng-container>