<div class="flex justify-center h-full mat-sys-surface-container">
    @if(seasons$ | async) {
        @if(winner) {
            <div class="w-full lg:w-1/3 p-2">
                <table mat-table [dataSource]="winner">
                    <ng-container matColumnDef="logo">
                        <th class="w-1" mat-header-cell *matHeaderCellDef></th>
                        <td class="w-1" mat-cell *matCellDef="let element">
                            <img class="m-2" src="{{ element.team | teamLogo }}" />
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="team">
                        <th mat-header-cell *matHeaderCellDef>
                            <span translate>TEAM_NAME</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex items-center flex-row">
                                <span>{{ element.team.name }}</span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="winnerCount">
                        <th class="w-1 text-center" mat-header-cell *matHeaderCellDef>
                            <span translate>CHAMPIONSHIP_COUNT</span>
                        </th>
                        <td class="w-1 text-center" mat-cell *matCellDef="let element">
                            {{ element.winnerCount }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
        }
    }
</div>