.cont {
  height: 90vh;
  overflow: auto;
}
.box {
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.mat-select {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  height: 3.6em;
}

.matches {
}
