<div class="container"
     fxLayout
     fxLayoutGap="10px"
     fxLayoutAlign="center"
     fxLayout.xs="column">
  <app-loader [isLoading]="seasonService.isLoadingSeasons" size="1.5"></app-loader>
  <div *ngIf="!seasonService.isLoadingSeasons">
    <mat-form-field id="seasonchooser">
      <mat-select [compareWith]="seasonCompare" [(value)]="season"  placeholder="{{ 'SEASON_PLACEHOLDER' | translate}}" (selectionChange)="selectedSeasonChanged(season)">
        <mat-option *ngFor="let season of seasons" [value]="season">
          {{ season.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div>
    <mat-form-field *ngIf="!seasonService.isLoadingTeams">
      <mat-select placeholder="{{ 'MATCHDAY_PLACEHOLDER' | translate}}" (selectionChange)="selectedMatchDayChanged()" [(ngModel)]="matchDay">
        <mat-option *ngFor="let day of matchDayCounter" [value]="day">
          {{ day }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="container-fluid">
  <app-loader [isLoading]="isLoadingMatches && seasonService.isLoadingTeams" size="1.5"></app-loader>
  <div *ngIf="matches && !seasonService.isLoadingTeams">
    <div class="mat-elevation-z5 container" *ngFor="let match of matches" style="margin-bottom: 10px;">
      <div class="row">
        <div class="col col-3 teamname" style="text-align:right">
            {{ seasonService.getTeamNameByID(match.home_team_id)}}
        </div>
        <div class="col col-1" style="max-width: 2ch;">
          -
        </div>
        <div class="col col-3 teamname" style="text-align:left">
            {{ seasonService.getTeamNameByID(match.guest_team_id) }}
        </div>
        <div class="col col-1">
          &nbsp;
        </div>
        <div class="col col-1">
            <div *ngIf="editMatch !== match.id; else edithome" style="text-align:right">{{ match.home_score }}</div>
            <ng-template #edithome>
              <mat-form-field style="width:100%;">
                  <input matInput type="number" min="0" placeholder="{{'HOME_SCORE_PLACEHOLDER' | translate}}" [(ngModel)]="match.home_score"/>
              </mat-form-field>
            </ng-template>
        </div>
        <div class="col col-1" style="max-width: 2ch;">
            :
        </div>
        <div class="col col-1">
            <div *ngIf="editMatch !== match.id; else editguest" style="text-align:left">{{ match.home_score }}</div>
            <ng-template #editguest>
              <mat-form-field style="width:100%;">
                  <input matInput type="number" min="0" placeholder="{{'GUEST_SCORE_PLACEHOLDER' | translate}}" [(ngModel)]="match.guest_score"/>
              </mat-form-field>
            </ng-template>
        </div>
        <div class="col col-1">
            <div *ngIf="editMatch !== match.id; else savebutton">
              <i *ngIf="editMatch !== match.id" class="fa fa-edit" (click)="editMatch = match.id" style="cursor: pointer;"></i>        
            </div>
            <ng-template #savebutton>
                <button mat-raised-button style="width: 100%;" color="primary" (click)="saveResult(match.id, match.home_score, match.guest_score)">Speichern</button>  
            </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>