.container {
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.mat-icon {
  vertical-align: middle;
}

.mat-select {
  text-align: center;
}

.col {
  margin-bottom: 15px;
}

.teamname {

}