<div class="flex justify-center mat-sys-surface-container-high">
    <div class="w-full lg:w-2/3">
        <div class="flex justify-center mt-2 sticky top-0 z-1">
            <mat-toolbar class="secondary mat-sys-corner-medium mat-sys-border">
                <mat-toolbar-row>
                    <div class="w-full grid grid-cols-2">
                        <div class="self-center">
                            <lima-season-chooser class=""
                                [selectedSeasonFC]="selectedSeasonFC"
                                [filterSeasonStates]="filterSeasonStates"
                            ></lima-season-chooser>
                        </div>
                        <div class="">
                            <mat-select
                                class="text-center"
                                #teamSelect
                                [(value)]="selectedTeamId"
                                placeholder="{{ 'PLACEHOLDER.SELECT_TEAM' | translate }}"
                            >
                                <mat-option [value]="'0'">
                                    {{ "ALL_TEAMS" | translate }}
                                </mat-option>
                                @for (team of (season$ | async)?.teams; track team) {
                                    <mat-option [value]="team?.id">
                                        {{ team?.name }}
                                    </mat-option>
                                }
                            </mat-select>
                        </div>
                    </div>
                </mat-toolbar-row>
                <mat-toolbar-row>
                    <div class="w-full grid grid-cols-3">
                        <div class="self-center">
                            @if ((season$ | async); as season) {
                                <button
                                    mat-icon-button
                                    (click)="prevMatchDay(season)"
                                    >
                                        <mat-icon>arrow_left</mat-icon>
                                </button>
                            }
                        </div>
                        <div class="self-center">
                            <mat-select
                                class="text-center"
                                #matchDaySelect
                                [(value)]="selectedMatchDayId"
                                placeholder="{{ 'PLACEHOLDER.SELECT_MATCHDAY' | translate }}"
                            >
                                @for (matchDay of (season$ | async)?.match_days; track matchDay) {
                                    <mat-option [value]="matchDay?.id">
                                        @if (matchDay) {
                                        <div>
                                            {{
                                                "MATCHDAY"
                                                    | translate : { matchDay: matchDay?.number }
                                            }}
                                            ({{ matchDay.start_date | customDate }}&nbsp;-&nbsp;{{
                                                matchDay.end_date | customDate
                                            }})
                                        </div>
                                        }
                                    </mat-option>
                                }
                            </mat-select>
                        </div>
                        <div class="self-center text-end">
                            @if ((season$ | async); as season) {
                                <button
                                    mat-icon-button
                                    (click)="nextMatchDay(season)"
                                >
                                    <mat-icon>arrow_right</mat-icon>
                                </button>
                            }
                        </div>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
        @if ((season$ | async); as season) {
            @for (matchDay of filterMatchDays(season?.match_days || []); track matchDay)
            {
                <div class="flex justify-center z-0">
                    <div class="w-full">
                        @for (match of filterMatches(matchDay?.matches); track match) {
                            <lima-match [match]="match" [matchDay]="matchDay"></lima-match>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
