<div class="flex justify-center h-full mat-sys-surface-container-high">
    <div class="w-full lg:w-2/3">
        <div class="flex justify-center mt-2">
            <mat-toolbar class="secondary">
                <mat-toolbar-row>
                    <div class="w-full grid grid-cols-2">
                        <div class="self-center">
                            <lima-season-chooser
                                [formControl]="selectedSeasonFC"
                                [filterStates]="filterSeasonStates"
                            ></lima-season-chooser>
                        </div>
                        <div class="w-full">
                            <mat-select
                                class="text-center"
                                #teamSelect
                                [formControl]="selectedTeamIdFC"
                                placeholder="{{ 'PLACEHOLDER.SELECT_TEAM' | translate }}"
                            >
                                <mat-option [value]="'0'">
                                    <span translate>SELECT_OPTION.ALL_TEAMS</span>
                                </mat-option>
                                @for (team of season()?.teams || [] | sortBy:'name'; track team) {
                                    <mat-option [value]="team?.id">
                                        {{ team?.name }}
                                    </mat-option>
                                }
                            </mat-select>
                        </div>
                    </div>
                </mat-toolbar-row>
                <mat-toolbar-row>
                    <div class="flex w-full">
                        <div class="self-center grow">
                            <button
                                matIconButton
                                cySelector="button-prev-matchday"
                                (click)="prevMatchDay()"
                                >
                                    <mat-icon>arrow_back</mat-icon>
                            </button>
                        </div>
                        <div class="self-center grow max-w-3/4">
                            <mat-select
                                class="text-center"
                                #matchDaySelect
                                [formControl]="selectedMatchDayFC"
                                placeholder="{{ 'PLACEHOLDER.SELECT_MATCHDAY' | translate }}"
                            >
                                
                                @for (matchDay of season()?.match_days; track matchDay) {
                                    <mat-option [value]="matchDay?.id">
                                        @if (matchDay) {
                                            <div class="flex flex-col text-center">
                                                <span>
                                                    {{ "MATCHDAY" | translate : { matchDay: matchDay?.number } }}
                                                </span>
                                                <span>
                                                    {{ matchDay.start_date | customDate }}&nbsp;-&nbsp;{{ matchDay.end_date | customDate }}
                                                </span>
                                            </div>
                                        }
                                    </mat-option>
                                }
                            </mat-select>
                        </div>
                        <div class="self-center text-end grow">
                            <button
                                cySelector="button-next-matchday"
                                matIconButton
                                (click)="nextMatchDay()"
                            >
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
        <div>
            @if (findMatchDay(season()?.match_days || []); as matchDay) {
                <div class="flex justify-center z-0 overflow-x-hidden">
                    <div class="w-full overflow-x-hidden">
                        @for (match of filterMatches(matchDay?.matches || []); track match.id) {
                            <div class="w-full" [animate.enter]="animateEnter()">
                                <lima-match [match]="match" [matchDay]="matchDay" [readOnly]="viewContext() === 'history'"></lima-match>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>