@if (season) {
    <div class="flex justify-center">
        @if ( season.state === SeasonState.Progress ) {
        <button mat-raised-button color="primary" (click)="endSeason(season.id)">
            <span translate>BUTTON.END_SEASON</span>
        </button>
        } @if ( season.state === SeasonState.Preparation ) {
        <button mat-raised-button color="primary" (click)="startSeason(season.id)">
            <span translate>BUTTON.START_SEASON</span>
        </button>
        <button mat-raised-button color="primary" (click)="deleteSeason(season.id)">
            <span translate>BUTTON.DELETE_SEASON</span>
        </button>
        }
    </div>
}
