<div class="flex justify-center w-full mat-sys-surface-container">
    <div class="w-full m-3">
        <div class="sticky top-0 z-1">
            <mat-toolbar class="secondary">
                <div class="w-full grid grid-cols-2 sticky top-0 z-1">
                    <div class="self-center w-full">
                        <lima-team-search [teams]="teams$ | async" (filteredTeams)="teams.set($event)"></lima-team-search>
                    </div>
                    <div class="self-center w-full">
                        <lima-season-chooser
                            [formControl]="selectedSeasonFC"
                            [clearable]="true"
                            [filterStates]="[
                                SeasonState.Ended,
                                SeasonState.Progress
                            ]"
                        ></lima-season-chooser>
                    </div>
                </div>
            </mat-toolbar>
        </div>
        <div class="mt-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-4">
            @for (team of teams() || [] | sortBy:'name'; track team) {
                <div
                    class="w-full"
                >
                    <lima-team-contact [team]="team"></lima-team-contact>
                </div>
            }
        </div>
    </div>
</div>
