<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-7">
      <mat-form-field>
        <mat-select #seasonSelect [compareWith]="seasonService.seasonCompare" [(value)]="manageSeasonStore"
          (selectionChange)="manageSeasonChanged($event)" placeholder="{{ 'PLACEHOLDER.SELECT_SEASON' | translate }}">
          <mat-option *ngFor="let season of seasonList | async" [value]="season">
            {{ season.name }} | {{ ('SeasonState.' + season.state) | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input #newSeason matInput placeholder="{{ 'PLACEHOLDER.NEW_SEASON' | translate }}"
          (keyup.enter)="addNewSeason(newSeason.value)" />
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-raised-button color="primary" (click)="addNewSeason(newSeason.value)">{{ 'BUTTON.CREATE_SEASON' | translate
        }}
      </button>
    </div>
  </div>
  <ng-container *ngIf="(manageSeason | async) as manageSeason; else loading">
    <mat-tab-group (selectedTabChange)="selectedTabChanged($event, manageSeason)">
      <mat-tab label="{{ 'TAB.TEAMS'  | translate  }}">
        <ng-template matTabContent>
          <app-manage-teams [manageSeason]="manageSeason"></app-manage-teams>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{ 'TAB.MATCH_DAYS'  | translate  }}">
        <ng-template matTabContent>
          <app-manage-match-days [manageSeason]="manageSeason"></app-manage-match-days>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{ 'TAB.MATCHES' | translate }}">
        <app-manage-matches [manageSeason]="manageSeason"></app-manage-matches>
      </mat-tab>
      <mat-tab label="{{ 'TAB.MATCH_SCHEDULING' | translate }}" *ngIf="manageSeason.match_days">
        <ng-template matTabContent>
          <app-match-scheduling [manageSeason]="manageSeason" [events]="events"></app-match-scheduling>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{ 'TAB.MANAGE_PENALTY' | translate}}">
        <ng-template matTabContent>
          <app-manage-penalty [manageSeasonId]="manageSeason.id"></app-manage-penalty>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{ 'TAB.END_SEASON' | translate }}">
          <div class="container-fluid mt-2">
            <div class="row">
              <div class="col text-center">
                  <button mat-raised-button color="primary" (click)="endSeason()">{{ 'BUTTON.END_SEASON' | translate}}</button>
                  <button mat-raised-button color="primary" (click)="startSeason()">{{ 'BUTTON.START_SEASON' | translate}}</button>
              </div>
            </div>
          </div>
        </mat-tab>
    </mat-tab-group>
  </ng-container>
  <ng-template #loading>
    <mat-progress-bar *ngIf="manageSeasonId" mode="indeterminate"></mat-progress-bar>
  </ng-template>
</div>