<div class="container-fluid" style="margin-top: 30px;">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-select #seasonSelect [compareWith]="seasonService.seasonCompare" (selectionChange)="manageSeasonChanged($event)" placeholder="{{ 'PLACEHOLDER.SELECT_SEASON' | translate }}">
          <mat-option *ngFor="let season of seasons" [value]="season">
            {{ season.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input #newSeason matInput placeholder="{{ 'PLACEHOLDER.NEW_SEASON' | translate }}" (keyup.enter)="addNewSeason(newSeason.value)"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-button color="primary" (click)="addNewSeason(newSeason.value)">{{ 'BUTTON.CREATE_SEASON' | translate }}</button>
    </div>
  </div>
  <mat-tab-group (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="{{ 'TAB.TEAMS'  | translate  }}">
      <ng-container *ngIf="manageSeason">
        <div class="row" style="margin-top: 20px;">
          <div class="col" *ngIf="teamsInSeason">
            <h3 translate>TEAMS_IN_SEASON</h3>
            <div *ngFor="let team of teamsInSeason">
              {{team.name}}
              <button mat-icon-button (click)="removeTeamFromSeason(team.id)">
                -></button>
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="col" *ngIf="allTeams">
            <h3 translate>ALL_TEAMS</h3>
            <button mat-button (click)="loadAllTeams()">{{ 'BUTTON.RELOAD' | translate}}</button>
            <div *ngFor="let team of allTeams">
              <button mat-icon-button (click)="addTeamToSeason(team.id)">
                <-</button> {{team.name}}
                  <mat-divider></mat-divider>
            </div>
          </div>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab label="{{ 'TAB.MATCH_DAYS'  | translate  }}">
      <div class="row" style="margin-top: 20px;">
        <div class="col">
          {{ 'START_SEASON_DATE' | translate}}:
          <input matInput #kickoffInput [owlDateTime]="startSeasonDate" (dateTimeChange)="createMatchDays($event)" style="display: none;">
          <button mat-button [owlDateTimeTrigger]="startSeasonDate">{{ 'BUTTON.SET_TIME' | translate }}</button>
          <owl-date-time [pickerType]="'calendar'" [pickerMode]="'dialog'" #startSeasonDate></owl-date-time>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput type="number" placeholder="{{'FROM_TO_OFFSET_DAYS' | translate }}" [(ngModel)]="fromToOffset" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput type="number" placeholder="{{'BETWEEN_MATCH_DAYS_OFFSET_DAYS' | translate }}" [(ngModel)]="betweenMatchDaysOffset"
            />
          </mat-form-field>
        </div>
      </div>
      <div *ngFor="let matchDay of newMatchDays; let i = index" class="row">
        <div class="col">
          {{ i + 1 }}. Spieltag
        </div>
        <div class="col">
          {{ matchDay.from | date }}
        </div>
        <div class="col text-left">
          <button mat-button [owlDateTimeTrigger]="dtFrom">{{ 'BUTTON.SET_TIME' | translate }}</button>
          <owl-date-time [pickerType]="'calendar'" [pickerMode]="'dialog'" #dtFrom></owl-date-time>
          <input matInput #kickoffInput [owlDateTime]="dtFrom" (dateTimeChange)="setMatchDayFromDate(i, $event)" style="display: none;">
        </div>
        <div class="col">
          {{ matchDay.to | date }}
        </div>
        <div class="col text-left">
          <button mat-button [owlDateTimeTrigger]="dtTo">{{ 'BUTTON.SET_TIME' | translate }}</button>
          <owl-date-time [pickerType]="'calendar'" [pickerMode]="'dialog'" #dtTo></owl-date-time>
          <input matInput #kickoffInput [owlDateTime]="dtTo" (dateTimeChange)="setMatchDayToDate(i, $event)" style="display: none;">
        </div>
      </div>
      <div>
        <button mat-button color="primary" (click)="sendMatchDays()">{{ 'BUTTON.OK' | translate }}</button>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'TAB.MATCHES' | translate }}">
      <div class="container-fluid" style="margin-top: 20px;">
        <div *ngFor="let match of matchesInSeason" class="row">
          <div class="col">
              {{ 'MATCHDAY' | translate:{ matchDay: getMatchDay(match.match_day_id).number } }}
          </div>
          <div class="col">
            {{ match.home_team.name }}
          </div>
          <div class="col-1">
            -
          </div>
          <div class="col">
            {{ match.guest_team.name }}
          </div>
          <div class="col">
            ({{ getMatchDay(match.match_day_id).start_date | date:'shortDate'}})
          </div>
          <div class="col">
            ({{ getMatchDay(match.match_day_id).end_date | date:'shortDate'}})
          </div>
        </div>
        <div class="row">
          <div>
            <button mat-button *ngFor="let matchDay of matchDayCounter" (click)="getMatchesInSeason(matchDay)">{{matchDay}}</button>
          </div>
        </div>
        <div class="row">
          <div>
            <button mat-button (click)="startSeason()">{{ 'BUTTON.START_SEASON' | translate}}</button>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'TAB.MATCH_SCHEDULING' | translate }}">
      <app-match-scheduling [manageSeason]="manageSeason" [matchesInSeason]="matchesInSeason" [matchDaysInSeason]="matchDaysInSeason"></app-match-scheduling>
    </mat-tab>
  </mat-tab-group>
</div>