<div class="flex justify-center h-full">
    <div class="w-full sm:w-3/4">
        <mat-toolbar class="flex justify-center mt-2 mb-2 space-x-4">
            <mat-form-field class="w-1/2" subscriptSizing="dynamic">
                <mat-label translate>SEARCH_TEAM</mat-label>
                <input matInput [formControl]="searchTeam" />
            </mat-form-field>
            <div class="w-1/2">
                <lima-season-chooser [selectedSeasonFC]="selectedSeasonFC" [clearable]="true" [filterSeasonStates]="[SeasonState.Ended, SeasonState.Progress]"></lima-season-chooser>
            </div>
        </mat-toolbar>
        <div class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 gap-5">
            @for (team of teams$ | async; track team) {
                <lima-team-contact [team]="team"></lima-team-contact>
            }
        </div>
    </div>
</div>