<div class="container">
  <app-loader [isLoading]="seasonService.isLoadingSeasons" size="1.5"></app-loader>
  <div *ngIf="!seasonService.isLoadingSeasons" fxLayout
                                               fxLayoutAlign="center">
    <mat-form-field>
      <mat-select [compareWith]="seasonCompare" [(value)]="season" placeholder="{{ 'SEASON_PLACEHOLDER' | translate}}" (selectionChange)="selectedSeasonChanged($event)">
        <mat-option *ngFor="let season of seasons" [value]="season">
          {{ season.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="container mat-elevation-z8">
  <app-loader [isLoading]="isLoadingRanking" size="1.5"></app-loader>
  <mat-table #table [dataSource]="rankingDataSource" *ngIf="rankingDataSource">

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="team_id">
      <mat-header-cell *matHeaderCellDef>
        <div>
          {{ 'TEAM_NAME' | translate }}
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          {{ seasonService.getTeamNameByID(element.team_id) }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="matches">
      <mat-header-cell *matHeaderCellDef>
        <div>
          {{ 'GAME_COUNT' | translate }}
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          {{element.matches}}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="wins">
      <mat-header-cell *matHeaderCellDef>
        <div fxHide.xs>
          {{ 'GAME_WINS' | translate }}
        </div>  
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div fxHide.xs>
          {{element.wins}}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="draws">
      <mat-header-cell *matHeaderCellDef>
        <div fxHide.xs>
          {{ 'GAME_DRAWS' | translate }}
        </div> 
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div fxHide.xs>
          {{element.draws}}
        </div>   
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="losses">
      <mat-header-cell *matHeaderCellDef>
        <div fxHide.xs>
          {{ 'GAME_LOSSES' | translate }}
        </div>         
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div fxHide.xs>
          {{element.losses}}
        </div>         
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="scored_goals">
      <mat-header-cell *matHeaderCellDef style="display: flex;justify-content: flex-end;">
        <div fxHide.xs>
          {{ 'GOALS_SCORED' | translate }}:
        </div>   
      </mat-header-cell>
      <mat-cell *matCellDef="let element" style="display: flex;justify-content: flex-end;">
        <div fxHide.xs>
          {{element.scored_goals}}:
        </div>   
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="conceded_goals">
      <mat-header-cell *matHeaderCellDef style="display: flex;justify-content: flex-start;">
        <div fxHide.xs>
          {{ 'GOALS_CONCEDED' | translate }}
        </div>   
      </mat-header-cell>
      <mat-cell *matCellDef="let element" style="display: flex;justify-content: flex-start;">
        <div fxHide.xs>
          {{element.conceded_goals}}
        </div>         
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="goals_diff">
      <mat-header-cell *matHeaderCellDef>
        <div fxHide.xs>
          {{ 'GOALS_DIFF' | translate }}
        </div>         
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div fxHide.xs>
          {{element.scored_goals - element.conceded_goals}}
        </div>   
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef>
        <div>         
          {{ 'POINTS' | translate }}
        </div>         
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          {{element.points}}
        </div>         
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element"> 
        <div>
          PENIS
        </div>
      </mat-cell>
    </ng-container>
    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
            matRipple 
            class="element-row"
            [class.expanded]="expandedElement == row"
            (click)="onDetailClick(row)"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
            [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
            style="overflow: hidden"> 
    </mat-row>
  </mat-table>
</div>