.container {
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.example-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.mat-table {
  overflow: auto;
  height: 75vh;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}