<div class="container-fluid" style="margin-top: 30px;">
  <div class="text-center">
    <mat-form-field>
      <mat-select #tournamentSelect [compareWith]="tournamentCompare" placeholder="{{ 'PLACEHOLDER.SELECT_TOURNAMENT' | translate }}"
        (selectionChange)="tournamentChanged()" [(value)]="tournament">
        <mat-option *ngFor="let tournament of tournaments" [value]="tournament">
          {{ tournament.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="!matches && tournament"></mat-progress-bar>
  <div class="card" *ngIf="winnerLastRound">
    <div class="card-header justify-content-center">
      {{ 'WINNER_LAST_ROUND' | translate }}
    </div>
    <div class="card-body justify-content-center">
      <div class="row justify-content-center" *ngFor="let winner of winnerLastRound">
        {{ winner.name }}
      </div>
    </div>
  </div>
  <ng-container *ngFor="let round of matches">
    <div class="text-center">
      <ng-container [ngSwitch]="round.length">
        <!-- <h3 *ngSwitchCase="8">{{ 'ACHTELFINALE' | translate }}</h3> -->
        <h3 *ngSwitchCase="4">{{ 'VIERTELFINALE' | translate }}</h3>
        <h3 *ngSwitchCase="2">{{ 'HALBFINALE' | translate }}</h3>
        <h3 *ngSwitchCase="1">{{ 'FINALE' | translate }}</h3>
        <h3 *ngSwitchDefault>{{ round[0].match_day }}. {{ 'ROUND' | translate }}</h3>
      </ng-container>
    </div>
    <div class="justify-content-center">
      <div class="row" style="justify-content: center">
        <div class="col-12 col-lg-4" *ngFor="let match of round">
          <app-match [match]="match" (resultUpdated)="newWinner($event)" [tournament]="true"></app-match>
        </div>
      </div>
    </div>
  </ng-container>
</div>