<mat-card class="w-1/2 m-auto">
    <mat-card-content>
        <div class="grid grid-col-1">
            <div class="w-full grid grid-col-1">
                <h1 translate>CURRENT_TEAM_LOGO</h1>
                @if (team()) {
                    <img class="m-auto" ngSrc="{{ team()! | teamLogo }}" alt="{{ 'NO_CURRENT_TEAM_LOGO' | translate}}" width="100" height="100">
                }
            </div>
            @if (team()?.logo_id) {
                <button
                    class="w-full"
                    mat-button
                    (click)="deleteTeamLogo(team()?.id!)"
                >
                    <mat-icon>delete</mat-icon>
                    <span translate>BUTTON.DELETE_TEAM_LOGO</span>
                </button>
            }
        </div>
        @if(previewImage()) {
            <div class="grid grid-col-1">
                <div class="w-full grid grid-col-1">
                    <h1 translate>NEW_TEAM_LOGO</h1>
                    <img class="m-auto" src="{{ previewImage() }}" width="100" height="100">
                </div>
                <button
                    class="w-full"
                    mat-button
                    (click)="saveTeamLogo(team()?.id)"
                >
                    <mat-icon>save</mat-icon>
                    <span translate>BUTTON.SAVE_TEAM_LOGO</span>
                </button>
            </div>
        }
    </mat-card-content>
    @if (authenticationService.isAdmin) {
        <mat-card-actions class="flex justify-center">
            <div>
                <button type="button" mat-raised-button (click)="fileInput.click()" translate>UPLOAD_TEAM_LOGO</button>
                <input
                    hidden
                    type="file"
                    #fileInput
                    (change)="onFileSelected($event)"
                    accept=".webp"
                />
            </div>
        </mat-card-actions>
    }
</mat-card>
    <!-- <div class="flex justify-center items-center flex-col mt-3 space-y-3 mat-sys-surface-container-high">
        <div class="flex justify-center flex-col">
            <h1 translate>CURRENT_TEAM_LOGO</h1>
            <img src="{{ imageSrc }}" />
        </div>
        @if (authenticationService.isAdmin) {
            <div>
                <button
                    class="mat-sys-primary"
                    mat-button
                    (click)="deleteTeamLogo(team.id)"
                >
                    <mat-icon>delete</mat-icon>
                    <span translate>BUTTON.DELETE_TEAM_LOGO</span>
                </button>
            </div>
            <div class="flex justify-center flex-col space-y-3 mt-3">
                <h1 translate>UPLOAD_TEAM_LOGO</h1>
                <input
                    type="file"
                    (change)="onFileSelected($event, team.id)"
                    accept=".webp"
                />
            </div>
        }
    </div> -->