@if (team$ | async; as team) {
    <mat-card>
        <mat-card-header>
            <h1 translate>CURRENT_TEAM_LOGO</h1>
        </mat-card-header>
        <img mat-card-image src="{{ imageSrc }}" alt="{{ 'NO_CURRENT_TEAM_LOGO' | translate}}">
        @if (authenticationService.isAdmin) {
            <mat-card-actions>
                <div>
                    <button
                        class="mat-sys-primary"
                        mat-button
                        (click)="deleteTeamLogo(team.id)"
                    >
                        <mat-icon>delete</mat-icon>
                        <span translate>BUTTON.DELETE_TEAM_LOGO</span>
                    </button>
                </div>
                <div class="flex justify-center flex-col space-y-3 mt-3">
                    <h1 translate>UPLOAD_TEAM_LOGO</h1>
                    <input
                        type="file"
                        (change)="onFileSelected($event, team.id)"
                        accept=".webp"
                    />
                </div>
            </mat-card-actions>
        }
    </mat-card>
    <!-- <div class="flex justify-center items-center flex-col mt-3 space-y-3 mat-sys-surface-container-high">
        <div class="flex justify-center flex-col">
            <h1 translate>CURRENT_TEAM_LOGO</h1>
            <img src="{{ imageSrc }}" />
        </div>
        @if (authenticationService.isAdmin) {
            <div>
                <button
                    class="mat-sys-primary"
                    mat-button
                    (click)="deleteTeamLogo(team.id)"
                >
                    <mat-icon>delete</mat-icon>
                    <span translate>BUTTON.DELETE_TEAM_LOGO</span>
                </button>
            </div>
            <div class="flex justify-center flex-col space-y-3 mt-3">
                <h1 translate>UPLOAD_TEAM_LOGO</h1>
                <input
                    type="file"
                    (change)="onFileSelected($event, team.id)"
                    accept=".webp"
                />
            </div>
        }
    </div> -->
}
