<mat-toolbar color="primary">
  <div class="flex h-full w-full items-center">
    <img class="p-1 w-[60px] h-[60px]" src="assets/wildeliga_bremen_nobg.png">

    <div class="grow flex justify-center visible lg:hidden">
      <a class="flex h-full items-center">{{ currentRoute | translate }}</a>
    </div>

    <div class="hidden h-full lg:flex lg:visible grow">
      <a class="flex h-full items-center p-2" routerLink="table" routerLinkActive="bg-theme-900 text-theme-c900" translate>NAVIGATION.TABLE</a>
      <a class="flex h-full items-center p-2" routerLink="schedule" routerLinkActive="bg-theme-900 text-theme-c900" translate>NAVIGATION.SCHEDULE</a>
      <a class="flex h-full items-center p-2" routerLink="tournament" routerLinkActive="bg-theme-900 text-theme-c900" translate>NAVIGATION.TOURNAMENT</a>
      <a class="flex h-full items-center p-2" routerLink="calendar" routerLinkActive="bg-theme-900 text-theme-c900" translate>NAVIGATION.CALENDAR</a>
      <a class="flex h-full items-center p-2" routerLink="contacts" routerLinkActive="bg-theme-900 text-theme-c900" translate>NAVIGATION.CONTACTS</a>
      <a class="flex h-full items-center p-2" routerLink="team_admin" routerLinkActive="bg-theme-900 text-theme-c900" translate>NAVIGATION.TEAM_ADMIN</a>
      <a class="flex h-full items-center p-2" routerLink="admin" routerLinkActive="bg-theme-900 text-theme-c900" translate>NAVIGATION.ADMIN</a>
    </div>
    
    <div class="hidden lg:flex lg:visible">
      <ng-container *ngIf="!authService.isAuthenticated; else authenticated">
        <button class="bg-theme text-theme-cdefault" mat-stroked-button (click)="openLoginDialog()">
          <span translate>BUTTON.LOGIN</span>
        </button>
      </ng-container>
      <ng-template #authenticated>
        <button mat-button class="bg-theme text-theme-cdefault" [matMenuTriggerFor]="userMenu">
          {{ authService.user!.first_name[0] }}.{{ authService.user!.last_name[0] }}
          <mat-icon>person</mat-icon>
        </button>
      </ng-template>
    </div>
  
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container class="h-[calc(100vh_-_64px)]" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'" [position]="'end'">
    <div class="visible lg:hidden flex justify-center m-2">
      <ng-container *ngIf="!authService.isAuthenticated; else authenticated">
        <button class="bg-theme text-theme-cdefault" mat-button (click)="openLoginDialog()">
          <span translate>BUTTON.LOGIN</span>
        </button>
      </ng-container>
      <ng-template #authenticated>
        <button mat-button class="bg-theme text-theme-cdefault" [matMenuTriggerFor]="userMenu">
          {{ authService.user!.first_name[0] }}.{{ authService.user!.last_name[0] }}
          <mat-icon>person</mat-icon>
        </button>
      </ng-template>
    </div>
    <div class="visible lg:hidden" (click)="drawer.close()">
      <mat-divider></mat-divider>
      <a class="flex items-center p-2" routerLink="table" routerLinkActive="bg-theme-900 text-theme-c900"
        translate>NAVIGATION.TABLE</a>
      <mat-divider></mat-divider>
      <a class="flex items-center p-2" routerLink="schedule" routerLinkActive="bg-theme-900 text-theme-c900"
        translate>NAVIGATION.SCHEDULE</a>
      <mat-divider></mat-divider>
      <a class="flex items-center p-2" routerLink="tournament" routerLinkActive="bg-theme-900 text-theme-c900"
        translate>NAVIGATION.TOURNAMENT</a>
      <mat-divider></mat-divider>
      <a class="flex items-center p-2" routerLink="calendar" routerLinkActive="bg-theme-900 text-theme-c900"
        translate>NAVIGATION.CALENDAR</a>
      <mat-divider></mat-divider>
      <a class="flex items-center p-2" routerLink="contacts" routerLinkActive="bg-theme-900 text-theme-c900"
        translate>NAVIGATION.CONTACTS</a>
      <mat-divider></mat-divider>
      <a class="flex items-center p-2" routerLink="team_admin" routerLinkActive="bg-theme-900 text-theme-c900"
        translate>NAVIGATION.TEAM_ADMIN</a>
      <mat-divider></mat-divider>
      <a class="flex items-center p-2" routerLink="admin" routerLinkActive="bg-theme-900 text-theme-c900"
        translate>NAVIGATION.ADMIN</a>
      <mat-divider></mat-divider>
    </div>
    
    <div class="p-2">
      <mat-slide-toggle color="primary" [formControl]="darkModeControl">
        <span translate>DARK_MODE</span>
      </mat-slide-toggle>
    </div>
    <mat-divider></mat-divider>
    <div class="p-2 flex justify-between items-center">
      <button class="w-full" [matMenuTriggerFor]="themes" translate>
        THEMES
      </button>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <div class="p-2 flex justify-between items-center">
      <button class="w-full" mat-button [matMenuTriggerFor]="languageMenu" translate>
        <mat-icon>language</mat-icon>
        LANGUAGE
      </button>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="h-1 mat-app-background" *ngIf="(loadingIndicatorService.loading$ | async) === true">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div class="mat-app-background h-full overflow-auto" (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<mat-menu #userMenu="matMenu">
  <mat-list>
    <mat-list-item *ngIf="authService.user">
      <span innerHTML="{{ 'LOGGED_IN_AS' | translate:{ email: authService.user.email } }}"></span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openChangePasswordDialog()">{{ 'BUTTON.CHANGE_PASSWORD' | translate }}</button>
  </mat-list>
  <button mat-menu-item (click)="authService.logout()">{{ 'BUTTON.LOGOUT' | translate }}</button>
</mat-menu>

<mat-menu #languageMenu="matMenu">
  <button mat-menu-item *ngFor="let language of i18Service.availableLang$ | async" (click)="changeLang(language)" [ngClass]="{'bg-theme text-theme-cdefault': i18Service.currentLang === language.code}">
    {{ language.nativeName }} ({{ language.name }})
  </button>
</mat-menu>

<mat-menu #themes="matMenu">
  <button mat-menu-item *ngFor="let theme of themeService.themes" (click)="changeTheme(theme)" [ngClass]="{'bg-theme': theme === (themeService.currentTheme$ | async)}">{{theme}}</button>
</mat-menu>