<div mat-dialog-title translate class="flex bg-theme text-theme-cdefault items-center">
    CREATE_NEW_SEASON_TITLE
</div>
<div mat-dialog-content class="flex justify-center items-center">

    <mat-form-field class="pt-5">
        <mat-label translate>PLACEHOLDER.NEW_SEASON_NAME</mat-label>
        <input matInput [formControl]="newName" data-cy="create-season-name">
    </mat-form-field>
</div>
<div mat-dialog-actions class="flex justify-center border-t-2 dark:border-toolbardark">
    <button mat-stroked-button (click)="createSeason()" [disabled]="!newName.valid" data-cy="create-season-button">
        <span translate>BUTTON.CREATE_SEASON</span>
    </button>
</div>