<div class="lg:flex h-full">
  <a class="flex h-full items-center p-2 border-b-2 dark:border-toolbardark lg:border-none" routerLink="{{ APP_ROUTES.TABLE }}" routerLinkActive="primary-container" translate>NAVIGATION.TABLE</a>
  <a class="flex h-full items-center p-2 border-b-2 dark:border-toolbardark lg:border-none" routerLink="{{ APP_ROUTES.SCHEDULE }}" routerLinkActive="primary-container" translate>NAVIGATION.SCHEDULE</a>
  <a class="flex h-full items-center p-2 border-b-2 dark:border-toolbardark lg:border-none" routerLink="{{ APP_ROUTES.TOURNAMENT }}" routerLinkActive="primary-container" translate>NAVIGATION.TOURNAMENT</a>
  <a class="flex h-full items-center p-2 border-b-2 dark:border-toolbardark lg:border-none" routerLink="{{ APP_ROUTES.CALENDAR }}" routerLinkActive="primary-container" translate>NAVIGATION.CALENDAR</a>
  <a class="flex h-full items-center p-2 border-b-2 dark:border-toolbardark lg:border-none" routerLink="{{ APP_ROUTES.HALL_OF_FAME }}" routerLinkActive="primary-container" translate>NAVIGATION.HALL_OF_FAME</a>
  @if (authenticationService.isTeamAdmin || authenticationService.isAdmin) {
    <a class="flex h-full items-center p-2 border-b-2 dark:border-toolbardark lg:border-none" routerLink="{{ APP_ROUTES.CONTACTS }}" routerLinkActive="primary-container" translate>NAVIGATION.CONTACTS</a>
  }
  @if (authenticationService.isTeamAdmin || authenticationService.isAdmin) {
    <a class="flex h-full items-center p-2 border-b-2 dark:border-toolbardark lg:border-none" routerLink="{{ APP_ROUTES.TEAMS_MANAGEMENT }}" routerLinkActive="primary-container" translate>NAVIGATION.TEAMS_MANAGEMENT</a>
  }
  @if (authenticationService.isAdmin) {
    <a class="flex h-full items-center p-2 border-b-2 dark:border-toolbardark lg:border-none" routerLink="{{ APP_ROUTES.ADMIN }}" routerLinkActive="primary-container" translate>NAVIGATION.ADMIN</a>
  }
  <a class="flex h-full items-center p-2 border-b-2 dark:border-toolbardark lg:border-none" routerLink="{{ APP_ROUTES.HISTORY }}" routerLinkActive="primary-container" translate>NAVIGATION.HISTORY</a>
</div>