<div class="container">
    <div class="row card" style="margin-bottom: 15px;">
        <div class="col-12">
            <div class="row card-header">
                <div class="col" style="text-align: right;" [ngClass]="{'won': match.home_score > match.guest_score }">
                    {{ match.home_team.name }}
                </div>
                <div class="col-3 text-center badge badge-light" style="font-size: large;">
                    {{ match.home_score }}&nbsp;:&nbsp;{{ match.guest_score }}
                </div>
                <div class="col" style="text-align: left;" [ngClass]="{'won': match.home_score < match.guest_score }">
                    {{ match.guest_team.name }}
                </div>
            </div>
            <div class="row card-body">
                <div class="col text-center">
                    <i *ngIf="match.kickoff">{{ match.kickoff | date:'short':'':i18Service.currentLang }}</i>
                    <i *ngIf="!match.kickoff">{{ match.planned_for | date:'shortDate':'':i18Service.currentLang }}</i>
                    <!-- <mat-icon>calendar_today</mat-icon> -->
                    <!-- <i class="material-icons">
                        calendar_today
                    </i> -->
                </div>
                <mat-divider vertical="true"></mat-divider>
                <div class="col text-center" *ngIf="match.pitch">
                    <a href="https://www.google.com/maps/?q={{ match.pitch.location_latitude }},{{ match.pitch.location_longitude }}" target="_blank"
                        style="cursor: pointer;">
                        {{ match.pitch.label }}
                        <i class="fa fa-map-marker"></i>
                    </a>
                </div>
            </div>
            <div class="row card-footer">
                <div class="col">
                    <button mat-button (click)="openContactModal()">
                        <i class="material-icons">
                            perm_contact_calendar
                        </i>
                    </button>
                </div>
                <ng-container *ngIf="authService.isAdmin || authService.isTeamAdminForTeam(match.home_team_id) || authService.isTeamAdminForTeam(match.guest_team_id)">
                    <div class="col">
                        <button mat-button (click)="openEditResultDialog(match)">
                            RESULT
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                    </div>
                    <div class="col">
                        <button mat-button (click)="openEditPitchDialog(match)">
                            PITCH
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                    </div>
                    <div class="col">
                        <button mat-button (click)="openEditTimeDialog(match)">
                            TIME
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>