<div class="container">
    <div class="row justify-content-center" *ngIf="!match">
        <mat-spinner></mat-spinner>
    </div>
    <div class="row card" style="margin-bottom: 15px;" *ngIf="match">
        <div class="col-12">
            <div class="row card-header align-items-center">
                <div class="col-12 col-sm-4 text-center" [ngClass]="{'border border-success rounded': tournament && match.home_score > match.guest_score }">
                    {{ match.home_team.name }}
                </div>
                <div class="col-12 col-sm-4 text-center badge badge-light" style="font-size: large;">
                    <span *ngIf="isNumber(match.home_score) && isNumber(match.guest_score); else noResult">{{ match.home_score }}&nbsp;:&nbsp;{{ match.guest_score }}</span>
                    <ng-template #noResult>-&nbsp;:&nbsp;-</ng-template>
                </div>
                <div class="col-12 col-sm-4 text-center" [ngClass]="{'border border-success rounded': tournament && match.home_score < match.guest_score }">
                    {{ match.guest_team.name }}
                </div>
            </div>
            <div class="row card-body align-items-center">
                <div class="col text-center">
                    <ng-container *ngIf="match.kickoff">
                        <div class="row">
                            <div class="col">
                                {{ match.kickoff | date:'shortTime':'':i18Service.currentLang }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ match.kickoff | date:'fullDate':'':i18Service.currentLang }}
                            </div>
                        </div>
                    </ng-container>
                    <i *ngIf="!match.kickoff">{{ match.planned_for | date:'shortDate':'':i18Service.currentLang }}</i>
                </div>
                <mat-divider vertical="true"></mat-divider>
                <div class="col text-center" *ngIf="!match.pitch">
                    <i class="material-icons">
                        location_off
                    </i>
                    <span>{{ 'NO_PTICH_SET' | translate }}</span>
                </div>
                <div class="col text-center" *ngIf="match.pitch">
                    <a href="https://www.google.com/maps/?q={{ match.pitch.location_latitude }},{{ match.pitch.location_longitude }}" target="_blank"
                        style="cursor: pointer;">
                        <i class="material-icons">
                            location_on
                        </i>
                        {{ match.pitch.label }}
                    </a>
                </div>
            </div>
            <div class="row card-footer justiy-content-center">
                <div class="col text-center">
                    <button mat-raised-button color="primary" (click)="openContactModal()">
                        {{ 'CONTACT' | translate }}
                        <i class="material-icons">
                            perm_contact_calendar
                        </i>
                    </button>
                </div>
                <div class="col text-center" *ngIf="authService.isAdmin || authService.isTeamAdminForTeam(match.home_team_id) || authService.isTeamAdminForTeam(match.guest_team_id)">
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="editMenu">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-menu #editMenu [overlapTrigger]="false">
    <button mat-menu-item (click)="openEditResultDialog(match)">
        {{ 'BUTTON.EDIT_RESULT' | translate }}
    </button>
    <button mat-menu-item (click)="openEditPitchDialog(match)">
        {{ 'BUTTON.EDIT_PITCH' | translate }}
    </button>
    <button mat-menu-item (click)="openEditTimeDialog(match)">
        {{ 'BUTTON.EDIT_TIME' | translate }}
    </button>
</mat-menu>