<div class="container-fluid">
  <div class="row">
    <div class="col text-right">
      <button mat-raised-button color="primary" (click)="createNewUser()">
        <mat-icon>
          add
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="row pb-2 border-bottom">
    <div class="col-12 col-md-4 col-lg-3">
      {{ 'USERNAME' | translate }}
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      {{ 'FIRST_NAME' | translate }} {{ 'LAST_NAME' | translate }}
    </div>
    <div class="col-6 col-md-2 col-lg-1">
      {{ 'USER_ROLE' | translate }}
    </div>
    <div class="col-12 col-md-3">
      {{ 'TEAMS' | translate }}
    </div>
    <div class="col-12 col-md-3">
      &nbsp;
    </div>
  </div>
  <div class="row align-items-center pb-2 pt-2 border-bottom" *ngFor="let user of allUsers | async">
    <div class="col-12 col-md-4 col-lg-3">
      {{ user.email }}
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      {{ user.first_name }} {{ user.last_name }}
    </div>
    <div class="col-6 col-md-2 col-lg-1">
      {{ user.role }}
    </div>
    <div class="col-12 col-md-3">
      <div class="row" *ngFor="let team of user.teams">
        <div class="col">
          {{ team.name }}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-3 text-center">
      <button mat-raised-button color="primary" class="mr-2" (click)="editUser(user)">
        <mat-icon>
          edit
        </mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="deleteUser(user)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </div>