<div class="container">
  <table class="table table-striped font-size-sm">
    <thead class="table-dark">
      <tr>
        <th translate>USERNAME</th>
        <th translate>FIRST_NAME</th>
        <th translate>LAST_NAME</th>
        <th translate>USER_ROLE</th>
        <th translate>TEAMS</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers | async">
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.first_name }}
        </td>
        <td>
          {{ user.last_name }}
        </td>
        <td>
          {{ user.role }}
        </td>
        <td>
          <tr *ngFor="let team of user.teams">
            <td>{{ team.name }}</td>
          </tr>
        </td>
        <td>
          <button mat-raised-button color="primary">
            <mat-icon>
              edit
            </mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>