<mat-tab-group>
  <mat-tab label="ADD_USER">
    <div class="card">
      <div class="card-header">
        {{ 'ADD_USER' }}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="{{ 'Username' }}" [(ngModel)]="newUserName" [formControl]="email" required />
              <mat-error *ngIf="email.invalid">{{ 'ENTER_VALID_EMAIL' }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="{{ 'VORNAME' }}" [(ngModel)]="newVorname" [formControl]="firstName" required />
              <mat-error *ngIf="firstName.invalid">{{ 'REQUIRED' }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="{{ 'NACHNAME' }}" [(ngModel)]="newNachname" [formControl]="lastName" required />
              <mat-error *ngIf="lastName.invalid">{{ 'REQUIRED' }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="{{ 'Password' }}" [(ngModel)]="newPassword" [formControl]="password" required />
              <mat-error *ngIf="password.invalid">{{ 'ENTER_VALID_PASSWORD' }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-select #home placeholder="{{ 'Role' }}" [(ngModel)]="userRole">
                <mat-option [value]="CreateUserBodyRole.Admin">
                  {{CreateUserBodyRole.Admin}}
                </mat-option>
                <mat-option [value]="CreateUserBodyRole.Team_manager" selected>
                  {{CreateUserBodyRole.Team_manager}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-select #home placeholder="{{ 'TEAM_NAME' }}" [(ngModel)]="userTeamList" multiple (selectionChange)="onChangeTeamSelect($event)">
                <mat-option *ngFor="let team of teamList" [value]="team.id">
                  {{team.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-icon-button (click)="createUser()" [disabled]="email.invalid || firstName.invalid || lastName.invalid || password.invalid">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>