@if (season) {
    <div class="flex flex-wrap w-full gap-4 justify-center">
        @for (matchDay of season.match_days; track matchDay) {
            <mat-card appearance="outlined" class="m-4">
                <mat-card-title>
                    <h3 class="text-center">
                        {{ "MATCHDAY" | translate : { matchDay: matchDay?.number } }} ({{
                            matchDay?.start_date | customDate
                        }}&nbsp;-&nbsp;{{ matchDay?.end_date | customDate }})
                    </h3>
                </mat-card-title>
                <mat-card-content>
                    <div class="flex justify-center">
                        <div class="w-full grid grid-cols-3 gap-3 m-3">
                            @for (match of matchDay?.matches; track match) {
                                @if (match && matchDay) {
                                    <span class="text-right">{{ match.home_team.name }}</span>
                                    <span class="text-center">-</span>
                                    <span class="text-left">{{ match.guest_team.name }}</span>
                                }
                            }
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        }
    </div>
}
