<div class="container">
  <div class="row" style="justify-content: center;">
    <div class="col">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="{{ 'PITCH' | translate }}" [matAutocomplete]="pitchAutoComplete" [formControl]="newMatchPitch"
        />
        <mat-autocomplete #pitchAutoComplete [displayWith]="displayPitch">
          <mat-option *ngFor="let pitch of filteredPitches | async" [value]="pitch">
            <span>{{ pitch.label }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="newMatchDatePicker" placeholder="{{ 'NEW_KICKOFF_DATE' | translate }}" [formControl]="newMatchDate">
        <mat-datepicker-toggle matSuffix [for]="newMatchDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #newMatchDatePicker color="primary"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-raised-button (click)="addMatchAppointment()">addMatchAppointment</button>
    </div>
    <div class="col">
      <button mat-raised-button (click)="saveMatches()">save</button>
    </div>
  </div>
  <div class="row" *ngIf="events">
    <full-calendar defaultView="dayGridMonth" [events]="events" [firstDay]="1" [editable]="true" [options]="calendarOptions" deepChangeDetection="true"></full-calendar>
  </div>
  <!-- <div class="row" *ngFor="let e of possibleKickoffs" style="border: 1px solid black">
    <div class="col">
      {{ e.pitch.label }}
    </div>
    <div class="col">
      {{ e.kickoffTime | date:'shortTime':'':i18Service.currentLang }}
    </div>
    <div class="col">
      OFFSET: {{ e.daysOffset}}
    </div>
    <div class="col">
      <div class="row" *ngFor="let d of e.teamsCanPlay">
        <div class="col">
          {{ d.team.name }}
        </div>
        <div class="col">
          <input type="checkbox" [(ngModel)]="d.canPlay" value="true" />
        </div>
      </div>
    </div>
    <div class="col">
      <button mat-button (click)="removePair(e.index)">Remove</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      ab Spieltag:
    </div>
    <div class="col">
      <mat-select #startMatchDay [(ngModel)]="startmatchDay">
        <mat-option *ngFor="let matchDay of manageSeason.match_days" [value]="matchDay.number">
          {{ matchDay.number }}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <ng-container *ngFor="let matchDay of manageSeason.match_days">
    <div class="row">
      <div class="col text-center">
        <h3>{{ 'MATCHDAY' | translate:{ matchDay: matchDay.number } }} ({{ matchDay.start_date | date:'shortDate':'':i18Service.currentLang}}
          - {{ matchDay.end_date | date:'shortDate':'':i18Service.currentLang}})</h3>
      </div>
    </div>
    <div class="row" *ngFor="let match of matchDay.matches">
      <div class="col">
        {{ match.home_team.name }} - {{ match.guest_team.name }}
      </div>
      <div class="col" *ngIf="match.kickoff">
        {{ match.kickoff | date:'short':'':i18Service.currentLang}}
      </div>
      <div class="col">
        ({{ match.pitch?.label }})
      </div>
    </div>
  </ng-container>
  <div class="row">
    <div class="col">
      <button mat-button (click)="saveMatches()">save</button>
    </div>
  </div> -->
</div>