@mixin apply-dark-mode {
    color-scheme: dark;
}

html {
    @include mat.theme((color: (primary: theme.$primary-palette,
                tertiary: theme.$tertiary-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
}

body {
    margin: 0;

    &.dark {
        @include apply-dark-mode;
    }
}

:root {

    @each $value, $color in map.get(theme.$primary-palette, primary) {
        --theme-primary-#{$value}: #{$color};
    }
    // @each $value, $color in $palette {
    //     @if $value !='contrast' {
    //         --theme-primary-#{$value}: #{map.get($palette, $value)};
    //         --theme-primary-contrast-#{$value}: #{map.get(map.get($palette, contrast), $value)};
    //     }
    // }
}