@mixin apply-dark-mode {
    color-scheme: dark;
}

html {
    @include mat.theme((color: (primary: theme.$primary-palette,
                tertiary: theme.$tertiary-palette,
            ),
            typography: Roboto,
            density: 0,
        ));

    @media (prefers-contrast: more) {
        @include theme.high-contrast-overrides(light);
    }
}

body {
    margin: 0;

    &.dark {
        @include apply-dark-mode;
        @media (prefers-contrast: more) {
            @include theme.high-contrast-overrides(dark);
        }
    }
}

:root {
    @include mat.toolbar-overrides((
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-on-primary-container),
    ));
}