<mat-card appearance="outlined" class="w-full md:w-3/4 lg:w-1/3 m-auto mt-2">
    <mat-card-content>
        <div [formGroup]="teamContact" class="grid m-auto mt-3">
            <div>
                <mat-form-field class="w-full">
                    <mat-label translate>LABEL.EMAIL</mat-label>
                    <input matInput formControlName="email" trim cySelector="input-email"/>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label translate>LABEL.FIRST_NAME</mat-label>
                    <input matInput formControlName="first_name" cySelector="input-first-name"/>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label translate>LABEL.LAST_NAME</mat-label>
                    <input matInput formControlName="last_name" cySelector="input-last-name"/>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label translate>LABEL.PHONE</mat-label>
                    <input matInput formControlName="phone" cySelector="input-phone"/>
                </mat-form-field>
            </div>
        </div>
        @if (teamContact.controls.email.errors && teamContact.controls.email.errors['email']) {
            <mat-error class="text-center" translate>ERROR.FORM.EMAIL_INVALID</mat-error>
        }
    </mat-card-content>
    <mat-card-actions class="flex justify-center">
        <div>
            <button
                matButton="outlined"
                (click)="updateTeamContact()"
                [disabled]="!teamContact.valid"
                cySelector="button-save"
            >
                <span translate>BUTTON.SAVE</span>
            </button>
        </div>
    </mat-card-actions>
</mat-card>
