@if (team$ | async; as team) {
    <mat-card appearance="outlined" class="w-1/2 m-auto mt-2">
        <mat-card-content>
            <div [formGroup]="teamContact" class="grid m-auto mt-3">
                <div>
                    <mat-form-field class="w-full">
                        <mat-label translate>EMAIL</mat-label>
                        <input matInput formControlName="email" />
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label translate>FIRST_NAME</mat-label>
                        <input matInput formControlName="first_name" />
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label translate>LAST_NAME</mat-label>
                        <input matInput formControlName="last_name" />
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label translate>PHONE</mat-label>
                        <input matInput formControlName="phone" />
                    </mat-form-field>
                </div>
            </div>
            @if (teamContact.controls.email.errors && teamContact.controls.email.errors['email']) {
                <mat-error class="text-center" translate>ERROR.FORM.EMAIL-INVALID</mat-error>
            }
        </mat-card-content>
        <mat-card-actions class="flex justify-center">
            <div>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="updateTeamContact(team.id)"
                    [disabled]="!teamContact.valid"
                >
                    <span translate>BUTTON.SAVE</span>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
}
