<div class="container">
    <div class="row">
        <div class="col">
            <mat-form-field style="width: 100%">
                <input matInput placeholder="{{ 'Password' | translate }}" [(ngModel)]="oldPassword" [formControl]="oldPasswordFc" required/>
                <mat-error *ngIf="password.invalid">{{ 'ENTER_VALID_PASSWORD' | translate}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row" *ngIf="oldPasswordError">
        <div class="col">
            <alert type="danger">
                {{ 'CURRENT_PASSWORD_WRONG' | translate }}
            </alert>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field style="width: 100%">
                <input matInput placeholder="{{ 'PLACEHOLDER_NEW_PASSWORD' | translate }}" [(ngModel)]="newPassword" [formControl]="password"
                    required/>
                <mat-error *ngIf="password.invalid">{{ 'ENTER_VALID_PASSWORD' | translate}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row" *ngIf="newPasswordError">
            <div class="col">
                <alert type="danger">
                    {{ 'CHANGE_PASSWORD_ERROR' | translate }}
                </alert>
            </div>
        </div>
    <div class="col">
        <button mat-button (click)="changePassword()" [disabled]="oldPasswordFc.invalid || password.invalid">Ok</button>
    </div>
</div>