<div class="flex justify-center">
    <div class="w-full sm:w-3/4">
        @if (teams$ | async; as t) {
            <mat-card class="m-2">
                <mat-card-title>
                    <div class="flex items-center m-4">
                        @if (addTeamMode) {
                            <mat-form-field class="w-full" subscriptSizing="dynamic" >
                                <mat-label translate>NEW_TEAM</mat-label>
                                <input
                                    matInput
                                    [formControl]="newTeam"
                                    (keyup.enter)="addNewTeam(newTeam.value!)"
                                    cySelector="input-create-team-name"
                                />
                            </mat-form-field>
                            <button
                                matIconButton
                                (click)="addNewTeam(newTeam.value!)"
                                [disabled]="!newTeam.valid"
                                cySelector="button-create-team-submit"
                            >
                                <mat-icon> add </mat-icon>
                            </button>
                            <button matIconButton (click)="addTeamMode = false">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        }
                        @if (!addTeamMode) {
                            <lima-team-search class="grow pr-6" [teams]="t" (filteredTeams)="teams.set($event)"></lima-team-search>
                            <button
                                matIconButton
                                (click)="addTeamMode = true"
                                cySelector="button-create-team"
                            >
                                <mat-icon>add</mat-icon>
                            </button>
                        }
                    </div>
                </mat-card-title>
                <mat-card-content>
                    <table mat-table [dataSource]="teams() || []">
                        <ng-container matColumnDef="team">
                            <th class="pt-4" mat-header-cell *matHeaderCellDef>
                            </th>
                            <td mat-cell *matCellDef="let team">
                                @if (editTeamId === team.id) {
                                <mat-form-field
                                    class="w-full pt-4 pb-4"
                                    subscriptSizing="dynamic"
                                >
                                    <mat-label translate>TEAM_NAME</mat-label>
                                    <input
                                        matInput
                                        [formControl]="newTeamName"
                                        (keyup.enter)="
                                            renameTeam(team.id, newTeamName.value!, team.name)
                                        "
                                        [value]="team.name"
                                        cySelector="input-new-team-name"
                                    />
                                </mat-form-field>
                                } @if (editTeamId !== team.id) {
                                    {{ team.name }}
                                }
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th class="text-end" mat-header-cell *matHeaderCellDef>
                            </th>
                            <td class="text-end" mat-cell *matCellDef="let team">
                                @if (editTeamId !== team.id) {
                                    <button matIconButton (click)="editTeam(team)" cySelector="button-edit-team">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button matIconButton (click)="deleteTeam(team.id, team.name)" cySelector="button-delete-team">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                } @if (editTeamId === team.id) {
                                    <button
                                        matIconButton
                                        (click)="renameTeam(team.id, newTeamName.value!, team.name)"
                                        [disabled]="!newTeamName.valid"
                                        cySelector="button-rename-team"
                                    >
                                        <mat-icon>save</mat-icon>
                                    </button>
                                    <button matIconButton (click)="editTeamId = ''">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                }
                            </td>
                        </ng-container>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    </table>
                </mat-card-content>
            </mat-card>
        }
    </div>
</div>
