@if(seasons$ | async) {
@if(winner) {
<div class="w-full lg:w-1/3 p-2 m-auto">
    <table mat-table [dataSource]="winner">
        <ng-container matColumnDef="logo">
            <th class="w-1 mat-sys-primary" mat-header-cell *matHeaderCellDef>
                <span translate>TEAM_NAME</span>
            </th>
            <td class="w-1" mat-cell *matCellDef="let element">
                <img class="m-2" src="{{element.team | teamLogo}}">
            </td>
        </ng-container>
        <ng-container matColumnDef="team">
            <th class="mat-sys-primary" mat-header-cell *matHeaderCellDef>
            </th>
            <td class="" mat-cell *matCellDef="let element">
                <div class="flex items-center flex-row">
                    <span>{{element.team.name}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="winnerCount">
            <th class="w-1 mat-sys-primary text-center" mat-header-cell *matHeaderCellDef>
                <span translate>CHAMPIONSHIP_COUNT</span>
            </th>
            <td class="w-1 text-center" mat-cell *matCellDef="let element">{{element.winnerCount}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<!-- <div class="w-3/4 m-auto h-1/3">
    <div class="flex justify-center h-full items-end">
        <div class="h-2/4 w-full">
            @if (getSecondRank(); as rank) {
                <div class="flex justify-center">
                @for (wt of rank; track wt) {
                    <div class="shrink-0">
                        <img src="{{ wt.team | teamLogo }}">
                        <div class="text-center">{{ wt.team.name }} ({{ wt.winnerCount }})</div>
                    </div>
                }
                </div>
            }
            <div class="bg-theme text-center h-full"></div>
        </div>
        <div class="h-3/4 w-full">
            @if (getFirstRank(); as rank) {
                <div class="flex justify-center">
                @for (wt of rank; track wt) {
                <div class="shrink-0">
                    <img src="{{ wt.team | teamLogo }}">
                    <div class="text-center">{{ wt.team.name }}  ({{ wt.winnerCount }})</div>
                </div>
                }
                </div>
            }
            <div class="bg-theme text-center h-full"></div>
        </div>
        <div class="h-1/4 w-full">
            @if (getThirdRank(); as rank) {
                <div class="flex justify-center">
                @for (wt of rank; track wt) {
                    <div class="shrink-0">
                        <img src="{{ wt.team | teamLogo }}">
                        <div class="text-center">{{ wt.team.name }}  ({{ wt.winnerCount }})</div>
                    </div>
                }
                </div>
            }
            <div class="bg-theme text-center h-full w-full"></div>
        </div>
    </div>
</div> -->
}
}