<div class="container">
    <div class="row">
        <div class="col-12" [ngClass]="{'col-sm-10':authService.isAuthenticated}">
            <div class="row">
                <div class="col" style="text-align: right;">
                    {{ teamService.getTeamNameByID(match.home_team_id)}}
                </div>
                <div class="col-3 text-center badge badge-light" style="font-size: large;">
                    {{ match.home_score }}&nbsp;:&nbsp;{{ match.guest_score }}
                </div>
                <div class="col" style="text-align: left;">
                    {{ teamService.getTeamNameByID(match.guest_team_id) }}
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
                <div class="col" style="text-align:center;">
                    <i *ngIf="match.kickoff">{{ match.kickoff | date:'short':'':i18Service.language2Char }}</i>
                    <i *ngIf="!match.kickoff">{{ match.planned_for | date:'shortDate':'':i18Service.language2Char}}</i>
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="col" *ngIf="pitches && match.pitch_id">
                    <a href="https://www.google.com/maps/?q={{getPitch(match.pitch_id).location_latitude}},{{getPitch(match.pitch_id).location_longitude}}"
                        target="_blank" style="cursor: pointer;">
                        {{ getPitch(match.pitch_id).label }}
                        <i class="fa fa-map-marker"></i>
                    </a>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
                <div class="col text-right">
                    <button mat-button (click)="openContactModal()">
                        {{ 'CONTACT' | translate }}
                        <i class="fa fa-address-card"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-2" *ngIf="canEditMatch" style="text-align: center">
            <i class="fa fa-edit fa-2x" (click)="openEditDialog(match.id)" style="cursor: pointer;"></i>
        </div>
    </div>
    <mat-divider></mat-divider>
</div>