<div class="flex justify-center">
    <mat-card class="m-2 p-4">
        <mat-card-title translate class="text-center">
            TITLE.NEW_PASSWORD
        </mat-card-title>
        @if (user$ | async; as user ) {
            <mat-card-content>
                <div class="flex justify-center p-4">
                    <div [formGroup]="passwordForm">
                        <mat-form-field>
                            <mat-label translate>
                                LABEL.NEW_PASSWORD
                            </mat-label>
                            <input #password matInput formControlName="password" cySelector="input-password" type="password">
                            @if (password.value) {
                                <button
                                    matIconButton
                                    matSuffix
                                    (click)="
                                        password.type === 'password'
                                            ? (password.type = 'text')
                                            : (password.type = 'password')
                                    "
                                >   
                                    @if (password.type === 'password') {
                                        <mat-icon>visibility</mat-icon>
                                    } @else {
                                        <mat-icon>visibility_off</mat-icon>
                                    }
                                </button>
                            }
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions class="flex justify-center">
                <button
                    matButton="tonal"
                    (click)="changePassword()"
                    [disabled]="!passwordForm.valid"
                    cySelector="button-change-password-submit"
                >
                    <span translate>BUTTON.SAVE</span>
                </button>
            </mat-card-actions>
        } @else {
            <mat-card-content class="flex justify-center p-4">
                <span translate>ERROR.PASSWORD_TOKEN_INVALID</span>
            </mat-card-content>
        }
    </mat-card>
</div>
