<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav mat-tab-nav-bar>
        <a mat-tab-link [routerLink]="['tournament']" routerLinkActive #tournament="routerLinkActive" [active]="tournament.isActive">{{ 'TAB.MANAGE_TOURNAMENTS' | translate }}</a>
        <a mat-tab-link [routerLink]="['season']" routerLinkActive #season="routerLinkActive" [active]="season.isActive">{{ 'TAB.MANAGE_SEASONS' | translate }}</a>
        <a mat-tab-link [routerLink]="['users']" routerLinkActive #users="routerLinkActive" [active]="users.isActive">{{ 'TAB.MANAGE_USERS' | translate }}</a>
        <a mat-tab-link [routerLink]="['team']" routerLinkActive #team="routerLinkActive" [active]="team.isActive">{{ 'TAB.MANAGE_TEAM' | translate }}</a>
        <a mat-tab-link [routerLink]="['pitches']" routerLinkActive #pitches="routerLinkActive" [active]="pitches.isActive">{{ 'TAB.PITCHES' | translate }}</a>
        <a mat-tab-link [routerLink]="['events']" routerLinkActive #events="routerLinkActive" [active]="events.isActive">{{ 'TAB.EVENTS' | translate }}</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>