<div class="container-fluid">
  <mat-tab-group>
    <mat-tab label="{{ 'MANAGE_TOURNAMENT' | translate }}">
      <app-managetournament></app-managetournament>
    </mat-tab>
    <mat-tab label="{{ 'MANAGE_USERS' | translate }}">
      <app-manageusers></app-manageusers>
    </mat-tab>
    <mat-tab label="{{ 'ADD-TEAM' | translate }}">
      <app-addteam></app-addteam>
    </mat-tab>
    <mat-tab label="{{ 'MANAGE_SEASON' | translate}}">
      <app-manageseason></app-manageseason>
    </mat-tab>
  </mat-tab-group>
</div>