<div class="container-fluid">
  <mat-tab-group>
    <mat-tab label="{{ 'TAB.MANAGE_TOURNAMENT' | translate }}" class="pb-4">
      <ng-template matTabContent>
        <app-managetournament></app-managetournament>
      </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'TAB.MANAGE_USERS' | translate }}">
      <ng-template matTabContent>
        <app-manageusers></app-manageusers>
      </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'TAB.MANAGE_TEAM' | translate }}">
      <ng-template matTabContent>
        <app-manageteams></app-manageteams>
      </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'TAB.MANAGE_SEASON' | translate}}">
      <ng-template matTabContent>
        <app-manageseason></app-manageseason>
      </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'TAB.PITCHES' | translate}}">
      <ng-template matTabContent>
        <app-managepitches></app-managepitches>
      </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'TAB.EVENTS' | translate}}">
      <ng-template matTabContent>
        <app-events></app-events>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>