<ng-container *ngIf="token">
  <h3 translate> Hi {{ authService.user.first_name }} !</h3>
  <p translate>PASSWORD_FORGOT_TEXT</p>
  <form (ngSubmit)="submit()"  [formGroup]="loginForm">
    <mat-form-field>
      <input type="password" matInput formControlName="password" placeholder="{{ 'Password' | translate}}" required/>
      <mat-error *ngIf="loginForm.controls['password'].valid || loginForm.controls['password'].untouched">
        <span translate>Password is required</span>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      <span translate>OK</span>
    </button>
  </form>
</ng-container>
<ng-container *ngIf="!token">
  <p translate>
    NO_NEW_PASSWORD_TOKEN
  </p>
</ng-container>