<div class="container">
  <ng-container *ngIf="token">
    <div class="row" style="justify-content: center">
      <h3> Hi {{ authService.user.first_name }} !</h3>
    </div>
    <div class="row" style="justify-content: center">
      <p translate>PASSWORD_FORGOT_TEXT</p>
    </div>
    <form (ngSubmit)="submit()" [formGroup]="loginForm">
      <div class="row" style="justify-content: center">
        <mat-form-field>
          <input type="password" matInput formControlName="password" placeholder="{{ 'PASSWORD' | translate}}" required/>
          <mat-error *ngIf="loginForm.controls['password'].valid || loginForm.controls['password'].untouched">
            <span translate>PASSWORD_REQUIRED</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row" style="justify-content: center">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          {{ 'BUTTON.OK' | translate }}
        </button>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="!token">
    <div class="row" style="justify-content: center">
      <p translate>
        ERRORS.PASSWORD_TOKEN_INVALID
      </p>
    </div>
  </ng-container>
</div>