<mat-card class="w-1/2 m-auto">
    <mat-card-content>
        <div class="grid grid-col-1">
            <div class="w-full grid grid-col-1">
                <h1 translate>CURRENT_TEAM_LOGO</h1>
                @if (team()) {
                    <lima-team-logo
                        [width]="200"
                        [height]="200"
                        [team]="team()"
                    ></lima-team-logo>
                }
            </div>
            @if (team()?.logo_id) {
                <button
                    class="w-full"
                    mat-button
                    (click)="deleteTeamLogo(team()?.id!)"
                >
                    <mat-icon>delete</mat-icon>
                    <span translate>BUTTON.DELETE_TEAM_LOGO</span>
                </button>
            }
        </div>
        @if(previewImage()) {
            <div class="grid grid-col-1">
                <div class="w-full grid grid-col-1">
                    <h1 translate>NEW_TEAM_LOGO</h1>
                    <img class="m-auto" src="{{ previewImage() }}" width="100" height="100">
                </div>
                <button
                    class="w-full"
                    mat-button
                    (click)="saveTeamLogo(team()?.id)"
                >
                    <mat-icon>save</mat-icon>
                    <span translate>BUTTON.SAVE_TEAM_LOGO</span>
                </button>
            </div>
        }
    </mat-card-content>
    @if (authenticationService.isAdmin) {
        <mat-card-actions class="flex justify-center">
            <div>
                <button type="button" mat-raised-button (click)="fileInput.click()" translate>UPLOAD_TEAM_LOGO</button>
                <input
                    hidden
                    type="file"
                    #fileInput
                    (change)="onFileSelected($event)"
                    accept=".webp"
                />
            </div>
        </mat-card-actions>
    }
</mat-card>