<div class="container">
  <h3 mat-dialog-title class="text-center"> {{ 'EDIT_ROUND' | translate:{ round: data.round } }}</h3>
  <mat-dialog-content>
    <div class="row" *ngFor="let tupel of teams">
      <div class="col">
        {{teamService.getTeamById(tupel.home_team_id).name}}
      </div>
      <div class="col" style="max-width: 2ch;">
        -
      </div>
      <div class="col">
        {{teamService.getTeamById(tupel.guest_team_id).name}}
      </div>
      <div class="col" style="max-width: 5ch;">
        <button mat-icon-button (click)="removeTeam(tupel)">
          -
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-select #home placeholder="{{ 'PLACEHOLDER.HOME_TEAM' | translate }}" required [(ngModel)]="homeTeamId">
            <mat-option *ngFor="let team of teamList" [value]="team.id">
              {{team.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select #guest placeholder="{{ 'PLACEHOLDER.GUEST_TEAM' | translate }}" required [(ngModel)]="guestTeamId">
            <mat-option *ngFor="let team of teamList" [value]="team.id">
              {{team.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-icon-button (click)="addTeam()">
        +
      </button>
    </div>
    <div class="row">
      <div class="col">
        {{ 'PLAN_DATE_FROM'| translate}}:
          <input matInput #kickoffInput [owlDateTime]="planDateFrom" (dateTimeChange)="setPlanDateFrom($event)">
        <button mat-button [owlDateTimeTrigger]="planDateFrom">{{ 'BUTTON.SET_TIME' | translate}}</button>
        <owl-date-time [pickerType]="'calendar'" [pickerMode]="'dialog'" #planDateFrom></owl-date-time>
      </div>
      <div class="col">
          {{ 'PLAN_DATE_TO'| translate}}:
          <input matInput #kickoffInput [owlDateTime]="planDateTo" (dateTimeChange)="setPlanDateTo($event)">
          <button mat-button [owlDateTimeTrigger]="planDateTo">{{ 'BUTTON.SET_TIME' | translate}}</button>
          <owl-date-time [pickerType]="'calendar'" [pickerMode]="'dialog'" #planDateTo></owl-date-time>
        </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button (click)="createMatch()">
      {{ 'BUTTON.START_ROUND' | translate }}
    </button>
  </mat-dialog-actions>
</div>