<app-loader [isLoading]="!match" size="1.5"></app-loader>
<div *ngIf="match" class="container">
    <h2 mat-dialog-title>
        {{ teamService.getTeamNameByID(match.home_team_id)}} - {{ teamService.getTeamNameByID(match.guest_team_id)}}
    </h2>
    <mat-dialog-content class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput type="number" min="0" max="99" placeholder="{{'HOME_SCORE_PLACEHOLDER' | translate}}" [(ngModel)]="match.home_score"
                    />
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput type="number" min="0" max="99" placeholder="{{'GUEST_SCORE_PLACEHOLDER' | translate}}" [(ngModel)]="match.guest_score"
                    />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <mat-form-field style="width:100%">
                    <input matInput [matDatepicker]="kickoffDatePicker" placeholder="{{ 'KICKOFF_DATE_PLACEHOLDER' | translate }}" [(ngModel)]="match.kickoff"
                        (dateChange)="onDateChanged($event)" />
                    <mat-datepicker-toggle matSuffix [for]="kickoffDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #kickoffDatePicker [touchUi]="true"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-6">
                <mat-form-field style="width:100%;">
                    <input matInput type="time" [(ngModel)]="kickoffTime" (change)="setKickoffTime()" />
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="pitch">
            <div class="col-12" style="text-align: center;">
                <div *ngIf="!pitch.id">
                    {{ 'NO_PTICH_SET' | translate }}
                </div>
                <div *ngIf="pitch.id">
                    <a href="https://www.google.com/maps/?q={{pitch.location_latitude}},{{pitch.location_longitude}}"
                        target="_blank" style="cursor: pointer;">
                        {{ pitch.label }}
                        <i class="fa fa-map-marker"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="{{ 'PITCH' | translate }}" [(ngModel)]="pitch"
                           [matAutocomplete]="pitchAutoComplete" [formControl]="stateCtrl"/>
                    <mat-autocomplete #pitchAutoComplete [displayWith]="displayPitch" (optionSelected)="onPitchSelect(pitch)">
                        <mat-option *ngFor="let pitch of filteredPitches | async" [value]="pitch">
                            <span>{{ pitch.label }}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align:center;">
                <button mat-button (click)="showCreateNewPitch = !showCreateNewPitch">
                    {{ 'CREATE_PITCH' | translate}} <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="row" *ngIf="showCreateNewPitch">
            <div class="col">
                Test
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="container">
            <div class="row">
                <div class="col">
                    <button mat-button mat-dialog-close>{{ 'CANCEL' | translate}}</button>
                </div>
                <div class="col">
                    <button mat-button (click)="onSaveClicked()">{{ 'SAVE' | translate }}</button>
                </div>
            </div>
        </div>
    </mat-dialog-actions>
</div>