<div mat-dialog-title translate class="flex bg-theme text-theme-cdefault items-center">
    CREATE_NEW_TOURNAMENT_TITLE
</div>
<div mat-dialog-content class="flex justify-center items-center">

    <mat-form-field class="pt-5">
        <mat-label translate>PLACEHOLDER.NEW_TOURNAMENT_NAME</mat-label>
        <input matInput [formControl]="newName">
    </mat-form-field>
</div>
<div mat-dialog-actions class="flex justify-center border-t-2 dark:border-toolbardark">
    <button mat-stroked-button (click)="createTournament()" [disabled]="!newName.valid" translate>
        BUTTON.CREATE_TOURNAMENT
    </button>
</div>