<div class="w-full mat-sys-surface-container-high">
    <mat-toolbar class="secondary">
        <div class="flex h-full justify-center text-lg m-auto">
            <a
                class="flex h-full items-center p-2"
                cySelector="route-teams-management-contact"
                routerLink="{{ TEAM_MANAGEMENT_ROUTES.CONTACT }}"
                routerLinkActive="mat-sys-primary-container"
                translate
                >NAVIGATION_TEAMS_MANAGEMENT.CONTACT</a
            >
            <a
                class="flex h-full items-center p-2"
                cySelector="route-teams-management-logo"
                routerLink="{{ TEAM_MANAGEMENT_ROUTES.LOGO }}"
                routerLinkActive="mat-sys-primary-container"
                translate
                >NAVIGATION_TEAMS_MANAGEMENT.TEAM_LOGOS</a
            >
        </div>
    </mat-toolbar>
</div>
<div class="mat-sys-surface-container-high h-full">
    <router-outlet></router-outlet>
</div>