<div class="container">
    <div class="pull-right" *ngIf="authService.isAdminUser">
        <mat-slide-toggle [color]="'warn'" [(ngModel)]="editMode">
            {{ 'EDIT' | translate }}
        </mat-slide-toggle>
    </div>
    <div class="box" fxLayout fxLayoutGap="10px" fxLayoutAlign="center" fxLayout.xs="column">
        <app-loader [isLoading]="isLoadingTournaments" size="1.5"></app-loader>
        <div *ngIf="!isLoadingTournaments">
            <mat-form-field id="seasonchooser">
                <mat-select [compareWith]="tournamentCompare" [(value)]="tournament" placeholder="{{ 'SEASON_PLACEHOLDER' | translate}}"
                    (selectionChange)="selectedTournamentChanged(tournament)">
                    <mat-option *ngFor="let tournament of tournaments" [value]="tournament">
                        {{ tournament.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div *ngIf="authService.isAdminUser">
            <mat-form-field>
                <input matInput [(ngModel)]="newTournament" placeholder="{{ 'NEW_TOURNAMENT' | translate }}" />
            </mat-form-field>
            <button mat-icon-button (click)="addTournament()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <button mat-button class="pull-left" *ngIf="editMode && rounds" (click)="removeRound()">
        {{ 'REMOVE_ROUND' | translate }}
        <i class="fa fa-minus"></i>
    </button>
    <button mat-button class="pull-right" *ngIf="editMode && rounds" (click)="addRound()">
        {{ 'ADD_ROUND' | translate }}
        <i class="fa fa-plus"></i>
    </button>
    <div class="container card" *ngFor="let round of rounds">
        <div class="card-header">
            {{'ROUND' | translate}} {{round | roundpipe}}
            <button mat-button class="pull-right" *ngIf="editMode" (click)="addMatch(round)">
                {{ 'CREATE_ROUND' | translate }}
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="card-body">
            <div class="card" *ngFor="let match of getMatchesInRound(round)">
                <app-match [match]="match" [pitches]="pitches"></app-match>
            </div>
        </div>
    </div>
</div>