<div class="container">
    <div class="row" *ngFor="let tupel of teams">
        <div class="col">
            {{teamService.getTeamNameByID(tupel.home_team_id)}}
        </div>
        <div class="col" style="max-width: 2ch;">
            -
        </div>
        <div class="col">
            {{teamService.getTeamNameByID(tupel.guest_team_id)}}
        </div>
        <div class="col" style="max-width: 5ch;">
            <button mat-icon-button (click)="removeTeam(tupel)">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-select #home placeholder="{{ 'HOME_SCORE_PLACEHOLDER' | translate}}" required [(ngModel)]="homeTeamId">
                    <mat-option *ngFor="let team of teamList" [value]="team.id">
                        {{team.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select #guest placeholder="{{ 'GUEST_SCORE_PLACEHOLDER' | translate}}" required [(ngModel)]="guestTeamId">
                    <mat-option *ngFor="let team of teamList" [value]="team.id">
                        {{team.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-icon-button (click)="addTeam()">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="row">
        <div class="col-12">
            <button mat-button (click)="createMatch()">
                {{ 'START_ROUND' | translate }}
            </button>
        </div>
    </div>
</div>