<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <div class="row">
          <div class="col" style="text-align: right;">
            Team01
          </div>
          <div class="col-3 text-center badge badge-light" style="font-size: large;">
            2&nbsp;:&nbsp;3
          </div>
          <div class="col" style="text-align: left;">
            Team02
          </div>
        </div>
      </h5>
      <mat-divider></mat-divider>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>