<div class="container" style="margin-top: 30px;">
  <ng-template #loading>
    <mat-progress-bar *ngIf="seasonService.currentSeason | async" mode="indeterminate"></mat-progress-bar>
  </ng-template>
  <div class="row justify-content-center">
    <div class="col-9 col-sm-4 text-center">
      <app-seasonchooser (seasonChanged)="handleGetMatches()"></app-seasonchooser>
    </div>
    <ng-container *ngIf="(matchesQGL | async) as matches; else loading">
      <div class="col-3 col-sm-2 text-right">
        <mat-form-field style="max-width: 7ch;">
          <mat-select #matchDaySelect [(value)]="selectedMatchDayId" (selectionChange)="handleGetMatches()" placeholder="{{ 'PLACEHOLDER.SELECT_MATCHDAY' | translate }}">
            <mat-option [value]="'0'">
              {{ 'ALL_MATCHDAYS' | translate }}
            </mat-option>
            <mat-option *ngFor="let matchDay of matches.match_days" [value]="matchDay.id">
              <div *ngIf="!matchDaySelect.panelOpen">{{ matchDay.number }}</div>
              <div *ngIf="matchDaySelect.panelOpen">
                {{ matchDay.number }} ({{ matchDay.start_date| date:'shortDate':'':i18Service.currentLang }}&nbsp;-&nbsp;{{ matchDay.end_date| date:'shortDate':'':i18Service.currentLang }})
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-9 col-sm-5 text-left">
        <mat-form-field style="width: 100%;">
          <mat-select #teamSelect [(value)]="selectedTeamId" (selectionChange)="handleGetMatches()" placeholder="{{ 'PLACEHOLDER.SELECT_TEAM' | translate }}">
            <mat-option [value]="'0'">
              {{ 'ALL_TEAMS' | translate }}
            </mat-option>
            <mat-option *ngFor="let team of matches.teams" [value]="team.id">
              {{ team.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3 col-sm-1 text-right">
        <button mat-icon-button [matMenuTriggerFor]="filterMenu">
          <mat-icon *ngIf="filterActive" color="primary">filter_list</mat-icon>
          <mat-icon *ngIf="!filterActive">filter_list</mat-icon>
        </button>
        <mat-menu #filterMenu="matMenu" [overlapTrigger]="false">
          <span mat-menu-item>
            <mat-slide-toggle [(ngModel)]="hidePlayed">{{ 'HIDE_PLAYED_MATCHES' | translate }}</mat-slide-toggle>
          </span>
        </mat-menu>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="(matchesQGL | async) as matches">
    <ng-container *ngFor="let matchDay of filterMatchDays(matches.match_days)">
        <h3 class="text-center">
          {{ 'MATCHDAY' | translate:{matchDay: matchDay.number} }}
        </h3>
        <ng-container *ngFor="let match of filterMatches(matchDay.matches)">
          <app-match [match]="match" [hideIfPlayed]="hidePlayed"></app-match>
        </ng-container>
      </ng-container>
  </ng-container>
</div>