@if (team$ | async; as team) {
    <div [formGroup]="teamContact" class="grid w-1/2 m-auto mt-3">
        <div>
            <mat-form-field class="w-full">
                <mat-label translate>EMAIL</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label translate>FIRST_NAME</mat-label>
                <input matInput formControlName="first_name">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label translate>LAST_NAME</mat-label>
                <input matInput formControlName="last_name">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label translate>PHONE</mat-label>
                <input matInput formControlName="phone">
            </mat-form-field>
            <div class="flex justify-center">
                <button mat-raised-button color="primary" (click)="updateTeamContact(team.id)" [disabled]="!teamContact.valid">
                    <span translate>BUTTON.SAVE</span>
                </button>
            </div>
        </div>
    </div>
}