<mat-toolbar>
    <div class="w-full flex items-center space-x-4">
        <div class="w-1/2">
            <lima-season-chooser [selectedSeasonFC]="selectedSeasonFC" [clearable]="true" [filterSeasonStates]="[SeasonState.Preparation, SeasonState.Progress]"></lima-season-chooser>
        </div>
        <button mat-stroked-button (click)="createSeason()">
            <mat-icon>add</mat-icon>
            <span translate>BUTTON.CREATE_SEASON</span>
        </button>
    </div>
</mat-toolbar>
@if (season$ | async; as season) {
    <mat-toolbar>
        <div class="flex h-full w-full items-center space-x-4">
            <a class="flex h-full items-center p-2" mat-tab-link translate routerLink="{{season.id}}/{{MANAGE_SEASON_ROUTES.TEAMS}}" routerLinkActive="mat-sys-primary-container">TAB.ADMIN.SEASON.TEAMS</a>
            <a class="flex h-full items-center p-2" mat-tab-link translate  routerLink="{{season.id}}/{{MANAGE_SEASON_ROUTES.MATCH_DAYS}}" routerLinkActive="mat-sys-primary-container">TAB.ADMIN.SEASON.MATCH_DAYS</a>
            <a class="flex h-full items-center p-2" mat-tab-link translate  routerLink="{{season.id}}/{{MANAGE_SEASON_ROUTES.MATCHES}}" routerLinkActive="mat-sys-primary-container">TAB.ADMIN.SEASON.MATCHES</a>
            <a class="flex h-full items-center p-2" mat-tab-link translate  routerLink="{{season.id}}/{{MANAGE_SEASON_ROUTES.SCHEDULE_MATCHES}}" routerLinkActive="mat-sys-primary-container">TAB.ADMIN.SEASON.SCHEDULE_MATCHES</a>
            <a class="flex h-full items-center p-2" mat-tab-link translate  routerLink="{{season.id}}/{{MANAGE_SEASON_ROUTES.PENALTIES}}" routerLinkActive="mat-sys-primary-container">TAB.ADMIN.SEASON.PENALTIES</a>
            <a class="flex h-full items-center p-2" mat-tab-link translate  routerLink="{{season.id}}/{{MANAGE_SEASON_ROUTES.START_STOP}}" routerLinkActive="mat-sys-primary-container">TAB.ADMIN.SEASON.START_STOP</a>
        </div>
    </mat-toolbar>
    <div class="p-3">
        <router-outlet></router-outlet>
    </div>
}