<div class="w-full h-full flex flex-col">
    <div class="m-2 mt-0">
        <mat-toolbar class="secondary">
            <mat-toolbar-row>
                <div class="w-full flex justify-evenly items-center">
                    <span class="p-4">
                        Header must be present and contain "Spieltag,Datum,Start,Platz,Heim,Auswärts" and German date format
                    </span>
                    <button type="button" matButton="outlined" (click)="chooseFile()"
                    >
                        <mat-icon>upload</mat-icon>
                        <span translate>BUTTON.UPLOAD_CSV</span>
                    </button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    @if (rawData().length > 0) {
        <div>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <div class="flex flex-col">
                        @for (teamFromSheet of teamsFromSheet(); track teamFromSheet; let index = $index) {
                            <div class="flex justify-evenly items-center">
                                <div class="w-1/2">{{ teamFromSheet }}</div>
                                @if(allTeams$ | async; as allTeams) {
                                    <lima-team-auto-complete class="w-1/2" [teams]="allTeams" [formControl]="mapping.controls.teams.controls[index]"></lima-team-auto-complete>
                                }
                            </div>
                        }
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <div class="flex flex-col">
                        @for (pitchFromSheet of pitchesFromSheet(); track pitchFromSheet; let index = $index) {
                            <div class="flex justify-evenly items-center">
                                <div class="w-1/2">{{ pitchFromSheet }}</div>
                                @if(allPitches$ | async; as allPitches) {
                                    <lima-pitch-auto-complete [pitches]="allPitches" [formControl]="mapping.controls.pitches.controls[index]"></lima-pitch-auto-complete>
                                }
                            </div>
                        }
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <div class="flex justify-center">
                        <button matButton="outlined" (click)="previewMatches()" [disabled]="!mapping.valid">
                            <span translate>BUTTON.PREVIEW_MATCHES</span>
                        </button>
                        <button matButton="outlined" (click)="submit()" [disabled]="matchDays().length === 0 || error">
                            <span translate>BUTTON.SAVE</span>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    @for (matchDay of matchDays(); track matchDay) {
                        <p>{{ 'MATCHDAY' | translate: { matchDay: matchDay.number } }}</p>
                        @for (match of matchDay.matches; track match) {
                            <lima-match [match]="match"></lima-match>
                        }
                    }
                </mat-card-content>
            </mat-card>
        </div>
    }
</div>

<!-- <h1 mat-dialog-title class="mat-sys-primary text-center">
    <span translate>TITLE.SEASON_TEAM_IMPORT</span>
</h1>
<mat-dialog-content class="h-full w-full">
    <div>
        <button type="button" matButton="outlined" (click)="chooseFile()"
            cySelector="button-upload-team-logo"
        >
            <mat-icon>upload</mat-icon>
            <span translate>BUTTON.UPLOAD_XLSX</span>
        </button>
    </div>
    <div>
        <mat-select [formControl]="selectedSheet">
            @for (sheet of sheets(); track sheet) {
                <mat-option [value]="sheet">{{ sheet }}</mat-option>
            }
        </mat-select>
        <mat-form-field>
            <mat-label>COL</mat-label>
            <input matInput [formControl]="selectedCol">
        </mat-form-field>
    </div>
    <div class="flex flex-col">
        @for (teamFromSheet of teamsFromSheet(); track teamFromSheet; let index = $index) {
            <div class="flex justify-evenly items-center">
                <div>{{ teamFromSheet }}</div>
                @if(allTeams$ | async; as allTeams) {
                    <lima-team-auto-complete [teams]="allTeams" [formControl]="teamMapping.controls[index]"></lima-team-auto-complete>
                }
            </div>
        }
    </div>
</mat-dialog-content> -->
<!-- <mat-dialog-actions align="center"> -->
    <!-- <div class="flex justify-evenly p-2">
        <button matButton="outlined" (click)="reload()">
            <span translate>BUTTON.RELOAD_PAGE</span>
        </button>
    </div> -->
<!-- </mat-dialog-actions> -->
