@mixin apply-dark-mode {
    color-scheme: dark;
}

html {
    @include mat.theme(
        (
            color: (
                primary: theme.$primary-palette,
                tertiary: theme.$tertiary-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );

    @media (prefers-contrast: more) {
        @include theme.high-contrast-overrides(light);
    }

    &.dark {
        @include apply-dark-mode;
        @media (prefers-contrast: more) {
            @include theme.high-contrast-overrides(dark);
        }
    }
}

body {
    margin: 0;
}

:root {

    --fc-bg-event-color: var(--mat-sys-primary-container);
    --fc-neutral-bg-color: var(--mat-sys-primary-container);
    --fc-neutral-text-color: var(--mat-sys-on-primary-container);
    --fc-list-event-hover-bg-color: var(--mat-sys-primary-container);
    --fc-border-color: var(--mat-sys-outline-variant);

    @include mat.dialog-overrides((
        subhead-color: var(--mat-sys-on-primary),
    ));

    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-primary),
            container-text-color: var(--mat-sys-on-primary),
        )
    );

    @include mat.card-overrides((
        subtitle-text-color: var(--mat-sys-on-surface),
        elevated-container-color: var(--mat-sys-surface-dim),
    ));

    mat-toolbar {
        @include mat.select-overrides(
            (
                panel-background-color: var(--mat-sys-primary),
                enabled-trigger-text-color: var(--mat-sys-on-primary),
                placeholder-text-color: var(--mat-sys-on-primary),
                enabled-arrow-color: var(--mat-sys-on-primary),
            )
        );
        @include mat.icon-overrides(
            (
                color: var(--mat-sys-on-primary),
            )
        );
    }
    mat-toolbar.secondary {
        @apply rounded-(--mat-sys-corner-medium);
        @apply border-1 border-(--mat-sys-outline-variant);
        @include mat.toolbar-overrides(
            (
                container-background-color: var(--mat-sys-surface-dim),
                container-text-color: var(--mat-sys-on-surface),
            )
        );
        @include mat.select-overrides(
            (
                panel-background-color: var(--mat-sys-surface-dim),
                enabled-trigger-text-color: var(--mat-sys-on-surface),
                placeholder-text-color: var(--mat-sys-on-surface),
                enabled-arrow-color: var(--mat-sys-on-surface),
            )
        );
        @include mat.icon-overrides(
            (
                color: var(--mat-sys-on-surface),
            )
        );
    }
}

.fc-list-day {
    position: relative !important;
    z-index: 98 !important;
}

.fc-list-empty {
    background-color: var(--mat-sys-surface-container-high) !important;
    color: var(--mat-sys-on-surface-container-high) !important;
    border: none !important;
}

gmp-place-autocomplete {
    background-color: var(--mat-sys-surface-variant);
    color-scheme: light;
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: 0;
}

.dark gmp-place-autocomplete {
    color-scheme: dark;
}

.ngx-ptr-animation .ngx-ptr-path {
    animation: ngx-ptr-dash 1.4s ease-in-out infinite,
        ngx-ptr-colors-override 5.6s ease-in-out infinite !important;
}

.ngx-ptr-spinner .ngx-ptr-path {
    stroke: var(--mat-sys-primary) !important;
}

@keyframes ngx-ptr-colors-override {
    0% {
        stroke: var(--mat-sys-secondary);
    }
    100% {
        stroke: var(--mat-sys-primary);
    }
}
