@mixin apply-dark-mode {
    color-scheme: dark;
}

html {
    @include mat.theme(
        (
            color: (
                primary: theme.$primary-palette,
                tertiary: theme.$tertiary-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );

    @media (prefers-contrast: more) {
        @include theme.high-contrast-overrides(light);
    }

    &.dark {
        @include apply-dark-mode;
        @media (prefers-contrast: more) {
            @include theme.high-contrast-overrides(dark);
        }
    }
}

body {
    margin: 0;
}

:root {
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-primary),
            container-text-color: var(--mat-sys-on-primary),
        )
    );

    mat-toolbar {
        @include mat.select-overrides(
            (
                panel-background-color: var(--mat-sys-primary),
                enabled-trigger-text-color: var(--mat-sys-on-primary),
                placeholder-text-color: var(--mat-sys-on-primary),
                enabled-arrow-color: var(--mat-sys-on-primary),
            )
        );
        @include mat.icon-overrides(
            (
                color: var(--mat-sys-on-primary),
            )
        );
    }
}
