<div class="flex justify-center h-full mat-sys-surface-container-high">
    <div class="w-full lg:w-2/3">
        <div class="mt-2 mb-2">
            <mat-toolbar class="secondary">
                <div class="w-full">
                    <lima-season-chooser
                        [formControl]="selectedSeasonFC"
                        [filterSeasonStates]="filterSeasonStates"
                    ></lima-season-chooser>
                </div>
            </mat-toolbar>
        </div>
        @if (ranking$ | async; as ranking) {
            <mat-card appearance="outlined">
                <mat-card-content>
                    <table
                        mat-table
                        matSort
                        [dataSource]="ranking"
                        multiTemplateDataRows
                        (matSortChange)="sortData($event)"
                    >
                        <ng-container matColumnDef="position">
                            <th
                                class="w-1"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header="sort_index"
                            >
                                #
                            </th>
                            <td
                                class="w-1"
                                [ngClass]="{ '!border-0': element === expandedElement() }"
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.sort_index }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="logo">
                            <th class="w-[80px]" mat-header-cell *matHeaderCellDef>
                                <span></span>
                            </th>
                            <td
                                mat-cell
                                [ngClass]="{ '!border-0': element === expandedElement() }"
                                *matCellDef="let element"
                            >
                                <lima-team-logo class="m-1"
                                    [width]="100"
                                    [height]="100"
                                    [team]="element.team"
                                ></lima-team-logo>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="team">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header="team_name"
                            >
                                <span translate>TEAM_NAME</span>
                            </th>
                            <td
                                mat-cell
                                [ngClass]="{ '!border-0': element === expandedElement() }"
                                *matCellDef="let element"
                            >
                                {{ element.team.name }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="games">
                            <th
                                class="w-1"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header="matches"
                            >
                                <span class="sm:hidden">{{
                                    "GAMES" | translate | truncate
                                }}</span>
                                <span class="hidden sm:flex" translate>GAMES</span>
                            </th>
                            <td
                                class="w-1"
                                [ngClass]="{ '!border-0': element === expandedElement() }"
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.matches }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="wins-draws-losses">
                            <th
                                class="w-1 hidden sm:table-cell"
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                <span translate>WINS_DRAWS_LOSSES</span>
                            </th>
                            <td
                                class="w-1 hidden sm:table-cell"
                                [ngClass]="{ '!border-0': element === expandedElement() }"
                                mat-cell
                                *matCellDef="let element"
                            >
                                <span
                                    >{{ element.wins }}:{{ element.draws }}:{{
                                        element.losses
                                    }}</span
                                >
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="goals">
                            <th
                                class="w-1 hidden sm:table-cell"
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                <span translate>SCORED_CONCEDED</span>
                            </th>
                            <td
                                class="w-1 hidden sm:table-cell"
                                [ngClass]="{ '!border-0': element === expandedElement() }"
                                mat-cell
                                *matCellDef="let element"
                            >
                                <span
                                    >{{ element.scored_goals }}:{{
                                        element.conceded_goals
                                    }}</span
                                >
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="goaldiff">
                            <th
                                class="w-1 hidden sm:table-cell"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header="goaldiff"
                            >
                                <span translate>SCORED_CONCEDED_DIFF</span>
                            </th>
                            <td
                                class="w-1 hidden sm:table-cell"
                                [ngClass]="{ '!border-0': element === expandedElement() }"
                                mat-cell
                                *matCellDef="let element"
                            >
                                <span>{{
                                    element.scored_goals - element.conceded_goals
                                }}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="points">
                            <th class="w-1" mat-header-cell *matHeaderCellDef>
                                <span class="sm:hidden">
                                    {{ "POINTS" | translate | truncate }}
                                </span>
                                <span class="hidden sm:flex" translate>POINTS</span>
                            </th>
                            <td
                                class="w-1"
                                [ngClass]="{ '!border-0': element === expandedElement() }"
                                mat-cell
                                *matCellDef="let element"
                            >
                                <div class="flex space-x-4 items-center">
                                    <span>{{ element.points }}</span>
                                    @if (getPenaltiesForTeam(element.team.id); as penalties) {
                                        @if (penalties.length > 0) {
                                            <button matIconButton (click)="expandedElement.set(element)">
                                                <mat-icon>warning</mat-icon>
                                            </button>
                                        }
                                    }
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="8" class="!border-0">
                                <div
                                    [@detailExpand]="
                                        element === expandedElement()
                                            ? 'expanded'
                                            : 'collapsed'
                                    "
                                >
                                    <div class="flex justify-evenly">
                                        <div class="flex flex-col">
                                            <span translate>WINS_DRAWS_LOSSES</span>
                                            <span>
                                                {{ element.wins }}:{{ element.draws }}:{{ element.losses }}
                                            </span>
                                        </div>
                                        <div class="flex flex-col">
                                            <span translate>SCORED_CONCEDED</span>
                                            <span>
                                                {{ element.scored_goals }}:{{element.conceded_goals}}
                                            </span>
                                        </div>
                                        <div class="flex flex-col">
                                            <span translate>SCORED_CONCEDED_DIFF</span>
                                            <span>
                                                {{ element.scored_goals - element.conceded_goals }}
                                            </span>
                                        </div>
                                        @if (getPenaltiesForTeam(element.team.id); as penalties) {
                                            @if(penalties.length > 0) {
                                                <div class="flex flex-col">
                                                    <span translate>PENALTIES</span>
                                                    <ul>
                                                        @for (penalty of penalties; track penalty.id) {
                                                            <li>
                                                                {{ penalty.reason }} (-{{ penalty.points }})
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr
                            mat-row
                            *matRowDef="let element; columns: displayedColumns"
                            (click)="
                                expandedElement.set(
                                    expandedElement() === element ? null : element
                                )
                            "
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: ['expandedDetail']"
                            class="!h-0"
                        ></tr>
                    </table>
                </mat-card-content>
            </mat-card>
        }
    </div>
</div>