<div *ngIf="teamService.teams" class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col">
      <div *ngFor="let team of teamService.teams">
        {{team.name}}
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input #newTeam matInput placeholder="{{ 'PLACEHOLDER.NEW_TEAM' | translate }}" (keyup.enter)="addNewTeam(newTeam.value)">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-button color="primary" (click)="teamService.addNewTeam(newTeam.value)">{{ 'BUTTON.CREATE_TEAM' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>