<div class="m-2 mt-0">
    <mat-toolbar class="secondary">
        <mat-toolbar-row>
            <div class="w-full flex items-center space-x-4 justify-evenly">
                <div class="w-1/2">
                    <lima-tournament-chooser
                        [formControl]="selectedTournamentFC"
                        [showState]="true"
                    ></lima-tournament-chooser>
                </div>
                <button
                    matIconButton
                    (click)="createTournament()"
                    cySelector="button-create-tournament"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
        @if (selectedTournament$ | async; as selectedTournament) {
            <mat-toolbar-row class="justify-evenly">
                @switch (selectedTournament.state) {
                    @case (TournamentState.Preparation) {
                        <button
                            cySelector="button-start-tournament"
                            matButton="outlined"
                            (click)="startTournament(selectedTournament.id, selectedTournament.name)"
                        >
                            <mat-icon>play_arrow</mat-icon>
                            <span translate>BUTTON.START_TOURNAMENT</span>
                        </button>
                    }
                    @case (TournamentState.Progress) {
                        <button
                            cySelector="button-end-tournament"
                            matButton="outlined"
                            (click)="endTournament(selectedTournament.id, selectedTournament.name)"
                        >
                            <mat-icon>stop</mat-icon>
                            <span translate>BUTTON.END_TOURNAMENT</span>
                        </button>
                    }
                }
                <button
                    matButton="outlined"
                    (click)="deleteTournament(selectedTournament.id, selectedTournament.name)"
                >
                    <mat-icon>delete</mat-icon>
                    <span translate>BUTTON.DELETE_TOURNAMENT</span>
                </button>
            </mat-toolbar-row>
        }
    </mat-toolbar>
</div>

<div class="w-full m-auto p-2">
    @if (selectedTournament$ | async; as selectedTournament) {
        @if (selectedTournament.rounds?.length === 0) {
            <lima-edit-tournament-round
                [tournamentId]="selectedTournament.id"
                [createNext]="true"
                (roundEdited)="roundEdited()">
            </lima-edit-tournament-round>
        }
        @for( round of selectedTournament.rounds; track round ) {
            @if(round) {
                <mat-card class="mb-2">
                    <mat-card-title>
                        <div class="flex justify-between">
                            <div class="text-center m-2 grow">
                                {{ "TOURNAMENT_ROUND" | translate : { round: round?.number } }} ({{ round.start_date | customDate }}&nbsp;-&nbsp;{{round.end_date | customDate}})
                            </div>
                            <div>
                                @if (editRound() !== round.number && !tournamentEnded(selectedTournament.state)) {
                                    <button matIconButton (click)="editRound.set(round.number)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                }
                            </div>
                        </div>
                    </mat-card-title>
                    <mat-card-content>
                        @if (editRound() === round.number) {
                            <lima-edit-tournament-round
                                [tournamentId]="selectedTournament.id"
                                [round]="round"
                                (roundEdited)="roundEdited()">
                            </lima-edit-tournament-round>
                        } @else {
                            @for( match of round?.matches; track match ) {
                                @if(match) {
                                    <lima-match
                                        [match]="match"
                                        [matchDay]="round"
                                        [markLooser]="true"
                                        [resultOnly]="true"
                                        [readOnly]="true"
                                    ></lima-match>
                                }
                            }
                        }
                    </mat-card-content>
                    @if (!editRound() && round.number === selectedTournament.rounds?.length && !tournamentEnded(selectedTournament.state)) {
                        <mat-card-footer>
                            <div class="flex justify-center m-3">
                                <button matButton="outlined" (click)="createNext(round.number)" cySelector="button-create-next-tournament-round">
                                    <mat-icon>add</mat-icon>
                                    <span translate>CREATE_NEXT_ROUND</span>
                                </button>
                            </div>
                        </mat-card-footer>
                    }
                </mat-card>
                @if(createRoundMode() === round.number) {
                    <lima-edit-tournament-round
                        [tournamentId]="selectedTournament.id"
                        [round]="round"
                        [createNext]="true"
                        (roundEdited)="roundEdited()">
                    </lima-edit-tournament-round>
                }
            }
        }
    }
</div>