<mat-toolbar class="secondary">
    <div class="w-full flex items-center space-x-4">
        <div class="w-1/2">
            <lima-tournament-chooser
                [selectedTournamentFC]="selectedTournamentFC"
            ></lima-tournament-chooser>
        </div>
        <button
            mat-stroked-button
            (click)="createTournament()"
            cySelector="button-create-tournament"
        >
            <mat-icon>add</mat-icon>
            <span translate>BUTTON.CREATE_TOURNAMENT</span>
        </button>
    </div>
</mat-toolbar>

@if (selectedTournament$ | async; as selectedTournament) { @for( round of
selectedTournament.rounds; track round ) { @if(round) {
<p>{{ round.start_date | customDate }} - {{ round.end_date | customDate }}</p>
} @for( match of round?.matches; track match ) { @if(match) {
<p>{{ match.home_team.name }} - {{ match.guest_team.name }}</p>
} } } }
