<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img class="logo" src="assets/wildeliga_bremen_nobg.png" />
      <div fxShow="true" fxHide.lt-md="true">
        <app-menu></app-menu>
      </div>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.gt-sm="true">
        <span class="example-spacer"></span>
        <a (click)="sidenav.toggle()" mat-button>
          <i class="material-icons">
            menu
          </i>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="secondary">
    <mat-toolbar-row>
      <span class="spacer"></span>
      <div>
        <mat-form-field>
          <mat-select [compareWith]="seasonService.seasonCompare" (selectionChange)="currentSeasonChanged($event)">
            <mat-option *ngFor="let season of seasons" [value]="season.id">
              {{ season.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column" position="end">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <app-menu fxLayout="column"></app-menu>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>