<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav fxLayout="column" position="end" class="bg-dark">
    <nav class="navbar navbar-expand-md navbar-dark">
      <ul class="navbar-nav flex-column justify-content-start">
        <app-menu></app-menu>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand">
        <img class="logo" src="assets/wildeliga_bremen_nobg.png" />
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav" fxHide="true" fxShow.gt-xs="true">
          <app-menu fxLayout="row"></app-menu>
        </ul>
      </div>
      <span class="spacer"></span>
      <div class="navbar-text text-right">
        <button mat-button (click)="openLoginDialog()" *ngIf="!authService.isAuthenticated">
          {{ 'LOGIN' }}
        </button>
        <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="authService.isAuthenticated">
          {{ authService.user.first_name[0] }}.{{ authService.user.last_name[0] }}
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <div fxShow="true" fxHide.gt-xs="true">
        <a (click)="sidenav.toggle()" mat-button>
          <i class="material-icons">
            menu
          </i>
        </a>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-menu #userMenu="matMenu">
  <mat-list>
    <mat-list-item *ngIf="authService.user">
      <span>Logged in as</span>&nbsp;
      <b> {{ authService.user.email }} </b>
    </mat-list-item>
    <mat-divider></mat-divider>
    <!-- <button mat-menu-item (click)="openChangePasswordDialog()">{{ 'CHANGE_PASSWORD' }}</button> -->
    <!-- <mat-divider></mat-divider> -->
  </mat-list>
  <button mat-menu-item (click)="authService.logout()">Logout</button>
</mat-menu>