@let tournament = tournament$ | async;

<div class="flex justify-center h-full mat-sys-surface-container-high">
    <div class="w-full lg:w-2/3">
        <div class="mt-2">
            <mat-toolbar class="secondary">
                <mat-toolbar-row>
                    <div class="w-full">
                        <lima-tournament-chooser
                            [formControl]="selectedTournamentFC"
                            [filterStates]="filterStates"
                        ></lima-tournament-chooser>
                    </div>
                </mat-toolbar-row>
                @if(selectedTournamentFC.value) {
                    <mat-toolbar-row>
                        <div class="w-full flex">
                            <div class="self-center grow">
                                <button
                                    matIconButton
                                    cySelector="button-prev-matchday"
                                    (click)="prevRound()"
                                    >
                                        <mat-icon>arrow_back</mat-icon>
                                </button>
                            </div>
                            <div class="self-center w-full grow max-w-3/4">
                                <mat-select
                                    class="text-center"
                                    #tournamenRoundSelect
                                    [formControl]="selectedTournamentRoundIdFC"
                                    placeholder="{{ 'LABEL.SELECT_TOURNAMENT_ROUND' | translate }}"
                                >
                                    @for (round of tournament?.rounds || [] | sortBy:'number'; track $index) {
                                        <mat-option [value]="round?.id">
                                            @if (round) {
                                                <div>
                                                    {{
                                                        "TOURNAMENT_ROUND"
                                                            | translate : { round: round?.number }
                                                    }}
                                                    ({{ round.start_date | customDate }}&nbsp;-&nbsp;{{
                                                        round.end_date | customDate
                                                    }})
                                                </div>
                                            }
                                        </mat-option>
                                    }
                                </mat-select>
                            </div>
                            <div class="self-center text-end grow">
                                <button
                                    matIconButton
                                    cySelector="button-next-matchday"
                                    (click)="nextRound()"
                                >
                                    <mat-icon>arrow_forward</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-toolbar-row>
                }
            </mat-toolbar>
        </div>
        @if(tournament?.rounds) {
            @if(selectedTournamentRound(); as round) {
                <div>
                    @for (match of round.matches; track match?.id) {
                        @if(match) {
                            <div [animate.enter]="animateEnter()">
                                <lima-match
                                    [match]="match"
                                    [matchDay]="round"
                                    [markLooser]="true"
                                    [readOnly]="viewContext() === 'history'"
                                ></lima-match>
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</div>