<div class="container">
    <mat-tab-group>
        <mat-tab label="{{ 'SeasonManager' | translate}}">
            <app-seasonmanager></app-seasonmanager>
        </mat-tab>
        <mat-tab label="{{ 'USER_MANAGMENT' | translate }}">
            <div class="card">
                <div class="card-header">
                    {{ 'ADD_USER' | translate }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <input matInput placeholder="{{ 'Username' | translate }}" [(ngModel)]="newUserName" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <input matInput placeholder="{{ 'VORNAME' | translate }}" [(ngModel)]="newVorname" />
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="{{ 'NACHNAME' | translate }}" [(ngModel)]="newNachname" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <input matInput placeholder="{{ 'Password' | translate }}" [(ngModel)]="newPassword"/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-select #home placeholder="{{ 'Role' | translate}}" [(ngModel)]="userRole">
                                    <mat-option [value]="CreateUserBodyRole.Admin">
                                        {{CreateUserBodyRole.Admin}}
                                    </mat-option>
                                    <mat-option [value]="CreateUserBodyRole.Team_manager">
                                        {{CreateUserBodyRole.Team_manager}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-select #home placeholder="{{ 'TEAM_NAME' | translate}}" [(ngModel)]="userTeamList" multiple
                                (selectionChange)="onChangeTeamSelect($event)">
                                    <mat-option *ngFor="let team of teamList" [value]="team.id" >
                                        {{team.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button mat-icon-button (click)="createUser()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>