<div class="container-fluid mt-4">
  <ng-container *ngIf="(pitchService.allPitches | async) as allPitches; else loading">
    <div class="row pb-2"  style="border-bottom: 1px solid lightgray;">
      <div class="col-3">
        {{ 'PITCH' | translate }}
      </div>
      <div class="col-6">
        {{ 'CONTACT' | translate }}
      </div>
      <div class="col-3">
        <button mat-raised-button color="primary" (click)="createNewPitch()">
          <mat-icon>
            add
          </mat-icon>
        </button>
      </div>
    </div>
    <div class="row pb-4 pt-4 align-items-center" *ngFor="let pitch of allPitches" style="border-bottom: 1px solid lightgray;">
      <div class="col-3">
        <mat-icon>location_on</mat-icon>
        <a href="https://www.google.com/maps/?q={{ pitch.location_latitude }},{{ pitch.location_longitude }}"
          target="_blank" style="cursor: pointer;">
          {{ pitch.label }}
        </a>
      </div>
      <div class="col-6">
        <ng-container>
          <app-contact-person [contact]="pitch.contact"></app-contact-person>
        </ng-container>
      </div>
      <div class="col-3">
        <button class="mr-3" mat-raised-button color="primary" (click)="editPitchContact(pitch)">
          <mat-icon>
            perm_contact_calendar
          </mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="deletePitch(pitch)">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
      <hr>
    </div>
  </ng-container>
  <ng-template #loading>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
</div>
