<div class="mt-2 mb-2 mat-sys-surface-container-high">
    <mat-toolbar class="secondary">
        <div class="flex w-1/2 h-full m-auto">
            <div class="w-full self-center">
                @if (teams$ | async; as teams) {
                    @if (teams.length > 1) {
                        <lima-team-auto-complete
                            [teams]="teams"
                            [formControl]="selectedTeamFC"
                            >
                        </lima-team-auto-complete>
                    } @else {
                        <div class="text-center">{{ teams[0]?.name }}</div>
                    }
                }
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="mat-sys-surface-container-high">
    <router-outlet></router-outlet>
</div>
