<!-- <mat-toolbar class="secondary">
    <div class="flex">
        <div>
            <lima-season-chooser
                [multiple]="true"
                [selectedSeasonFC]="selectedSeasonFC"
            ></lima-season-chooser>
        </div>
    </div>
</mat-toolbar> -->
<div class="flex h-full w-full p-3 mat-sys-surface-container">
    @if (events$ | async) { }
    <full-calendar
        class="h-full w-full"
        #calendar
        [options]="calendarOptions"
        [deepChangeDetection]="true"
    >

    <ng-template #eventContent let-arg>
        <div class="flex justify-center w-full">
            @if(arg.event.extendedProps.match) {
                <lima-match [match]="arg.event.extendedProps.match"></lima-match>
            } @else {
                <span class="mat-sys-primary-container">{{ arg.event.title }}</span>
            }
        </div>
    </ng-template>

    </full-calendar>
</div>
