@if (season$ | async; as season) {
<div class="grid grid-cols-2">
    <div>
        <h1 translate>TEAMS_IN_SEASON</h1>
        @for (team of season.teams; track team) { @if (team) {
        <div class="flex items-center m-3 space-x-3">
            @switch (season.state) { @case (SeasonState.Preparation) {
            <button
                mat-icon-button
                (click)="
                    removeTeamFromSeason({
                        team_id: team.id,
                        season_id: season.id
                    })
                "
            >
                <mat-icon>delete</mat-icon>
            </button>
            } @case (SeasonState.Progress) {
            <mat-icon>compare_arrows</mat-icon>
            } }
            <p>{{ team.name }}</p>
        </div>
        } }
    </div>
    @if (season.state === SeasonState.Preparation) {
    <div>
        <div class="flex items-center">
            <h1 translate>ALL_TEAMS</h1>
        </div>
        @for (team of teamService.allTeams$ | async; track team) { @if (team) {
        <div class="flex items-center m-3">
            <button
                mat-icon-button
                (click)="
                    addTeamToSeason({ team_id: team.id, season_id: season.id })
                "
                cySelector="button-add-team-to-season"
            >
                <mat-icon>arrow_back</mat-icon>
            </button>
            <p>{{ team.name }}</p>
        </div>
        } }
    </div>
    }
</div>
}
