<ng-container *ngIf="(manageSeason | async) as manageSeason">
    <div class="container-fluid mt-4">
        <div class="row" style="justify-content: center;">
            <ng-container *ngIf="!manageSeason.match_days">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="startSeasonDatePicker"
                            placeholder="{{ 'START_SEASON_DATE' | translate }}" [formControl]="seasonStartDate"
                            (dateChange)="createMatchDays(manageSeason)">
                        <mat-datepicker-toggle matSuffix [for]="startSeasonDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startSeasonDatePicker color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
                <ng-container *ngIf="seasonStartDate.valid">
                    <div class="col">
                        <mat-slide-toggle color="primary" [(ngModel)]="secondHalf" (change)="createMatchDays(manageSeason)">
                            {{ 'SECOND_HALF_SEASON' | translate }}
                        </mat-slide-toggle>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <input matInput type="number" placeholder="{{'FROM_TO_OFFSET_DAYS' | translate }}" min="1"
                                [(ngModel)]="fromToOffset" (change)="createMatchDays(manageSeason)" />
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <input matInput type="number" placeholder="{{'BETWEEN_MATCH_DAYS_OFFSET_DAYS' | translate }}"
                                [(ngModel)]="betweenMatchDaysOffset" (change)="createMatchDays(manageSeason)"/>
                        </mat-form-field>
                    </div>
                </ng-container>
            </ng-container>
            <div class="col">
                <button mat-raised-button color="primary" (click)="saveMatchDays(manageSeason)">{{ 'BUTTON.GENERATE_MATCHPLAN' |
                    translate }}
                </button>
            </div>
        </div>
        <div class="row" style="justify-content: center;">
            <div class="col">
                <full-calendar [options]="calendarOptions" [deepChangeDetection]="true"></full-calendar>
            </div>
        </div>
    </div>
</ng-container>