<div class="container card">
    <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
      <div class="row">
        <div class="col">
          <div class="login-error" [hidden]="!error || isLoading" translate>
            Username or password incorrect
          </div>
          <mat-form-field>
            <input #username type="text" matInput formControlName="username" placeholder="{{ 'Username' | translate }}" />
            <mat-error *ngIf="loginForm.controls['username'].valid || loginForm.controls['username'].untouched">
              <span translate>Username is required</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="{{ 'Password' | translate}}" required/>
            <mat-error *ngIf="loginForm.controls['password'].valid || loginForm.controls['password'].untouched">
              <span translate>Password is required</span>
            </mat-error>
          </mat-form-field>
          <br/>
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
            <span translate>LOGIN</span>
          </button>
        </div>
      </div>
      <div class="row">
        <a style="cursor: pointer;" (click)="passwordForgot(username.value)" translate>FORGOT_PASSWORD</a>
      </div>
    </form>
  </div>