<div class="w-full h-full flex flex-col">
    <div class="m-2 mt-0">
        <mat-toolbar class="secondary">
            <mat-toolbar-row>
                <div class="w-full flex justify-evenly items-center">
                    <button type="button" matButton="outlined" (click)="chooseFile()"
                    >
                        <mat-icon>upload</mat-icon>
                        <span translate>BUTTON.UPLOAD_XLSX</span>
                    </button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div>
        <mat-card class="m-2">
            <mat-card-header>
                <span translate>SEASON</span>
            </mat-card-header>
            <mat-card-content>
                <lima-season-chooser
                    [formControl]="selectedSeasonFC"
                    [clearable]="true"
                    [showState]="true"
                ></lima-season-chooser>
            </mat-card-content>
        </mat-card>
        <mat-card class="m-2">
            <mat-card-header>
                <span translate>TEAMS</span>
            </mat-card-header>
            <mat-card-content>
                <div class="flex flex-col">
                    @for (teamFromSheet of teamsFromSheet(); track teamFromSheet; let index = $index) {
                        <div class="flex justify-evenly items-center">
                            <div class="w-1/2">{{ teamFromSheet }}</div>
                            @if(allTeams$ | async; as allTeams) {
                                <lima-team-auto-complete class="w-1/2" [teams]="allTeams" [formControl]="teamMappingFC.controls[index]"></lima-team-auto-complete>
                            }
                        </div>
                    }
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button matButton="outlined" (click)="addTeamsToSeason()" [disabled]="!teamMappingFC.valid">
                    <span translate>BUTTON.ADD_TEAMS_TO_SEASON</span>
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="m-2">
            <mat-card-header>
                <span translate>PITCHES</span>
            </mat-card-header>
            <mat-card-content>
                <div class="flex flex-col">
                    @for (pitchFromSheet of pitchesFromSheet(); track pitchFromSheet; let index = $index) {
                        <div class="flex justify-evenly items-center">
                            <div class="w-1/2">{{ pitchFromSheet }}</div>
                            @if(allPitches$ | async; as allPitches) {
                                <lima-pitch-auto-complete [pitches]="allPitches" [formControl]="pitchMappingFC.controls[index]"></lima-pitch-auto-complete>
                            }
                        </div>
                    }
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="m-2">
            <mat-card-header>
                <span translate>MATCHES</span>
            </mat-card-header>
            <mat-card-content>
                <button matButton="outlined" (click)="createMatches()">
                    <span translate>BUTTON.CREATE_MATCHES</span>
                </button>
                @for (match of matches(); track match) {
                    <p>{{ match.matchDay.number }}</p>
                    <lima-match [match]="match.match"></lima-match>
                }
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- <h1 mat-dialog-title class="mat-sys-primary text-center">
    <span translate>TITLE.SEASON_TEAM_IMPORT</span>
</h1>
<mat-dialog-content class="h-full w-full">
    <div>
        <button type="button" matButton="outlined" (click)="chooseFile()"
            cySelector="button-upload-team-logo"
        >
            <mat-icon>upload</mat-icon>
            <span translate>BUTTON.UPLOAD_XLSX</span>
        </button>
    </div>
    <div>
        <mat-select [formControl]="selectedSheet">
            @for (sheet of sheets(); track sheet) {
                <mat-option [value]="sheet">{{ sheet }}</mat-option>
            }
        </mat-select>
        <mat-form-field>
            <mat-label>COL</mat-label>
            <input matInput [formControl]="selectedCol">
        </mat-form-field>
    </div>
    <div class="flex flex-col">
        @for (teamFromSheet of teamsFromSheet(); track teamFromSheet; let index = $index) {
            <div class="flex justify-evenly items-center">
                <div>{{ teamFromSheet }}</div>
                @if(allTeams$ | async; as allTeams) {
                    <lima-team-auto-complete [teams]="allTeams" [formControl]="teamMapping.controls[index]"></lima-team-auto-complete>
                }
            </div>
        }
    </div>
</mat-dialog-content> -->
<!-- <mat-dialog-actions align="center"> -->
    <!-- <div class="flex justify-evenly p-2">
        <button matButton="outlined" (click)="reload()">
            <span translate>BUTTON.RELOAD_PAGE</span>
        </button>
    </div> -->
<!-- </mat-dialog-actions> -->
