<div class="container">
    <mat-card class="season-create">
        <mat-card-header>
            <mat-card-title translate>CREATE_SEASON</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper" (selectionChange)="createSeasonStepperChanged($event)">
                <mat-step [stepControl]="createSeasonFormGroup" editable="false">
                    <form [formGroup]="createSeasonFormGroup">
                    <ng-template matStepLabel> {{ 'CREATE_SEASON' | translate }}</ng-template>
                    <mat-form-field>
                        <input #newSeasonName matInput placeholder="{{ 'SEASON_NAME' | translate }}" formControlName="firstCtrl" required />
                    </mat-form-field>
                    <div>
                        <span fxFlex></span>
                        <button mat-button matStepperNext [disabled]="!createSeasonFormGroup.valid" (click)="createSeason(newSeasonName.value)">{{ 'NEXT' | translate }}</button>
                    </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="selectTeamsFormGroup" editable="true">
                    <form [formGroup]="selectTeamsFormGroup">
                        <ng-template matStepLabel>{{ 'TEAMS' | translate }}</ng-template>
                        <mat-grid-list cols="2" rowHeight="4:2">
                            <mat-grid-tile>
                                <mat-grid-tile-header>
                                    <h2 translate>ALL_TEAMS</h2>
                                </mat-grid-tile-header>
                                <app-loader [isLoading]="isLoadingAllTeams" size="1.5"></app-loader>
                                <div *ngIf="allTeams">
                                    <div *ngFor="let team of allTeams">
                                        <mat-checkbox [checked]="isSelectedTeam(team.id)" (change)="handleTeam($event)" [value]="team">{{team.name}}</mat-checkbox>
                                    </div>
                                </div>
                            </mat-grid-tile>                             
                            <mat-grid-tile>
                                <mat-grid-tile-header>
                                    <h2 translate>SELECTED_TEAMS</h2>
                                </mat-grid-tile-header>
                                <div *ngFor="let team of selectedTeams">
                                    {{team.name}}
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <div>
                            <span fxFlex></span>
                            <button [disabled]="selectedTeams.length < 2" mat-button matStepperNext>{{ 'NEXT' | translate }}</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>{{ 'START_SEASON' | translate }}</ng-template>
                    <h2 class="mat-grid-tile-header" translate>OVERVIEW</h2>
                    <table>
                        <tr>
                            <td>
                                {{'SEASON_NAME' | translate}}
                            </td>
                            <td>
                                {{newSeasonName.value}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'TEAMS' | translate}}
                            </td>
                            <td>
                                <ul>
                                    <li *ngFor="let team of selectedTeams">
                                        {{team.name}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <!-- <mat-grid-list cols="2" rowHeight="40px">
                        <mat-grid-tile [colspan]="2">
                            <mat-grid-tile-header>
                                
                            </mat-grid-tile-header>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            {{'SEASON_NAME' | translate}}
                        </mat-grid-tile>
                        <mat-grid-tile>
                            {{newSeasonName.value}}
                        </mat-grid-tile>
                        <mat-grid-tile>
                            {{'TEAMS' | translate}}
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <ul>
                                <li *ngFor="let team of selectedTeams">
                                    {{team.name}}
                                </li>
                            </ul>
                        </mat-grid-tile>
                    </mat-grid-list> -->
                    <div>
                        <button mat-button matStepperBack>{{ 'BACK' | translate }}</button>
                        <span fxFlex></span>
                        <button mat-button (click)="startSeason()">{{ 'START_SEASON' | translate}}</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>