<div class="container-fluid mt-4">
    <ng-container *ngFor="let matchDay of manageSeason.match_days">
        <div class="row">
            <div class="col text-center">
                <h3>
                    {{ 'MATCHDAY' | translate:{ matchDay: matchDay.number } }}
                    ({{ matchDay.start_date| date:'shortDate':'':i18Service.currentLang }}&nbsp;-&nbsp;{{
                    matchDay.end_date| date:'shortDate':'':i18Service.currentLang }})
                </h3>
            </div>
        </div>
        <div class="row" *ngFor="let match of matchDay.matches">
            <div class="col text-center">
                <!-- {{ match.home_team.name }} - {{ match.guest_team.name }} -->
                <app-match [match]="match" [editable]="false"></app-match>
            </div>
        </div>
    </ng-container>
</div>