<div mat-dialog-title class="mat-sys-primary text-center" translate>
    CALENDAR_SETTINGS_OPTIONS
</div>
<mat-dialog-content>
    <div class="flex justify-center flex-col space-y-4" [formGroup]="data.options">
        <div class="self-center mt-2">
            <mat-button-toggle-group formControlName="selectedView">
                <mat-button-toggle value="list">
                    <span translate>CALENDAR.list</span>
                </mat-button-toggle>
                <mat-button-toggle value="dayGridWeek" class="hidden 2xl:block">
                    <span translate>CALENDAR.dayGridWeek</span>
                </mat-button-toggle>
                <mat-button-toggle value="dayGridMonth" class="hidden 2xl:block">
                    <span translate>CALENDAR.dayGridMonth</span>
                </mat-button-toggle>
                <mat-button-toggle value="dayGridYear" class="hidden 2xl:block">
                    <span translate>CALENDAR.dayGridYear</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        @if (data.options.controls['selectedView'].value === 'list') {
            <div class="flex justify-center w-full space-x-4" [formGroup]="data.options.controls['duration']">
                <mat-form-field subscriptSizing="dynamic">
                    <input matInput type="number" formControlName="value">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-select type="number" formControlName="type">
                        <mat-option value="week">week</mat-option>
                        <mat-option value="month">month</mat-option>
                        <mat-option value="year">year</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        }
        <div>
            <mat-form-field class="w-full">
                <mat-label translate>TEAMS</mat-label>
                <mat-select formControlName="team_ids" name="teams" multiple cySelector="select-team">
                    @for (team of allTeams$ | async; track team) {
                    <mat-option [value]="team?.id">
                        {{ team?.name }}
                    </mat-option>
                    }
                </mat-select>
                @if (data.options.controls.team_ids.value.length > 0) {
                    <button matSuffix matIconButton aria-label="Clear" (click)="data.options.controls.team_ids.setValue([])" class="mr-4">
                        <mat-icon>close</mat-icon>
                    </button>
                }
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button (click)="dialogRef.close(true)">
        <span translate>BUTTON.CLOSE</span>
    </button>
</mat-dialog-actions>