<h3 mat-dialog-title class="text-center"> {{ 'EDIT_ROUND' | translate:{ round: data.round } }}</h3>
<div mat-dialog-content>
  <div class="row" *ngFor="let tupel of roundTeams; index as index">
    <div class="col">
      {{ tupel.homeTeam.name }}
    </div>
    <div class="col" style="max-width: 2ch;">
      -
    </div>
    <div class="col">
      {{ tupel.guestTeam.name }}
    </div>
    <div class="col-1 pb-2">
      <button mat-raised-button color="primary" (click)="removeTeam(index)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <mat-form-field style="width: 100%">
        <mat-select #home placeholder="{{ 'PLACEHOLDER.HOME_TEAM' | translate }}" required
          (selectionChange)="addTeam(home.value, guest.value)">
          <mat-option *ngFor="let team of teamService.allTeams | async" [value]="team">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col" style="max-width: 2ch;">
      -
    </div>
    <div class="col">
      <mat-form-field style="width: 100%">
        <mat-select #guest placeholder="{{ 'PLACEHOLDER.GUEST_TEAM' | translate }}" required
          (selectionChange)="addTeam(home.value, guest.value)">
          <mat-option *ngFor="let team of teamService.allTeams | async" [value]="team">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-1">
      &nbsp;
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-6">
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="planDateFromPicker" placeholder="{{ 'PLAN_DATE_FROM' | translate }}" [(ngModel)]="planDateFrom" required>
          <mat-datepicker-toggle matSuffix [for]="planDateFromPicker"></mat-datepicker-toggle>
          <mat-datepicker #planDateFromPicker color="primary"></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="planDateToPicker" placeholder="{{ 'PLAN_DATE_TO' | translate }}" [(ngModel)]="planDateTo" required>
            <mat-datepicker-toggle matSuffix [for]="planDateToPicker"></mat-datepicker-toggle>
            <mat-datepicker #planDateToPicker color="primary"></mat-datepicker>
          </mat-form-field>
    </div>
  </div>
</div>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="createRound()" [disabled]="!isRoundValid()">
    {{ 'BUTTON.START_ROUND' | translate }}
  </button>
</mat-dialog-actions>