<div class="container">
    <div class="row">
        <div class="col">
            <mat-form-field style="width: 100%">
                <input #oldPasswordInput type="password" matInput placeholder="{{ 'PLACEHOLDER.OLD_PASSWORD' | translate }}" [formControl]="oldPassword"
                    required/>
                <mat-error *ngIf="oldPassword.invalid">{{ 'ERRORS.ENTER_VALID_PASSWORD' | translate}}</mat-error>
                <button mat-button *ngIf="oldPassword.value" matSuffix mat-icon-button aria-label="Clear" (click)="oldPasswordInput.type === 'password'? oldPasswordInput.type = 'text': oldPasswordInput.type = 'password'">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-3" *ngIf="oldPasswordWrong">
        <div class="col">
            {{ 'ERRORS.USERNAME_PASSWORD_WRONG' | translate }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <mat-form-field style="width: 100%">
                <input #newPasswordInput type="password" matInput placeholder="{{ 'PLACEHOLDER.NEW_PASSWORD' | translate }}" [formControl]="newPassword"
                    required/>
                <mat-error *ngIf="newPassword.invalid">{{ 'ERRORS.ENTER_VALID_PASSWORD' | translate}}</mat-error>
                <button mat-button *ngIf="newPassword.value" matSuffix mat-icon-button (click)="newPasswordInput.type === 'password'? newPasswordInput.type = 'text': newPasswordInput.type = 'password'">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button mat-button (click)="changePassword()" [disabled]="oldPassword.invalid || newPassword.invalid">{{ 'BUTTON.OK'
                | translate }}</button>
        </div>
    </div>
</div>