<div class="container">
    <div class="row">
        <div class="col">
            <mat-form-field style="width: 100%">
                <input matInput placeholder="{{ 'PASSWORD' | translate }}" [(ngModel)]="oldPassword" [formControl]="oldPasswordFc" required/>
                <mat-error *ngIf="password.invalid">{{ 'ERRORS.ENTER_VALID_PASSWORD' | translate}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row" *ngIf="oldPasswordError">
        <div class="col">
            {{ 'ERRORS.USERNAME_PASSWORD_WRONG' | translate }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field style="width: 100%">
                <input matInput placeholder="{{ 'PLACEHOLDER.NEW_PASSWORD' | translate }}" [(ngModel)]="newPassword" [formControl]="password"
                    required/>
                <mat-error *ngIf="password.invalid">{{ 'ERRORS.ENTER_VALID_PASSWORD' | translate}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="col">
        <button mat-button (click)="changePassword()" [disabled]="oldPasswordFc.invalid || password.invalid">{{ 'BUTTON.OK' | translate }}</button>
    </div>
</div>