@if (season) {
    <div class="grid grid-cols-1">
        @if (season.state === SeasonState.Preparation) {
            <div class="m-8">
                @if(teamService.allTeams$ | async; as allTeams) {
                    <lima-team-auto-complete [teams]="allTeams" (teamSelected)="addTeamToSeason({ season_id: season.id, team_id: $event.id})" [clearAfterSelected]="true"></lima-team-auto-complete>
                }
            </div>
        }
        <div>
            <h1 translate class="text-center">TEAMS_IN_SEASON</h1>
            <div class="m-8">
                <lima-team-search [teams]="season.teams" (filteredTeams)="seasonTeams.set($event)"></lima-team-search>
            </div>
            @for (team of seasonTeams(); track team) {
                @if (team) {
                    <div class="flex justify-center items-center m-3 space-x-3">
                        <p>{{ team.name }}</p>
                        @switch (season.state) {
                            @case (SeasonState.Preparation) {
                                <button
                                    mat-icon-button
                                    (click)="
                                        removeTeamFromSeason({
                                            team_id: team.id,
                                            season_id: season.id
                                        })
                                    "
                                >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            }
                            @case (SeasonState.Progress) {
                                <button
                                    mat-icon-button
                                    (click)="replaceTeamInSeason()"
                                >
                                    <mat-icon>compare_arrows</mat-icon>
                                </button>
                            }
                        }
                    </div>
                }
            }
        </div>
        <!-- @if (season.state === SeasonState.Preparation) {
            <div>
                <div>
                    <h1 translate class="text-center">ALL_TEAMS</h1>
                </div>
                @if (teamService.allTeams$ | async; as at) {
                    <div class="m-8">
                        <lima-team-search [teams]="at" (filteredTeams)="allTeams.set($event)"></lima-team-search>
                    </div>
                    @for (team of allTeams(); track team) {
                        @if (team) {
                            <div class="flex items-center m-3">
                                <button
                                    mat-icon-button
                                    (click)="
                                        addTeamToSeason({ team_id: team.id, season_id: season.id })
                                    "
                                    cySelector="button-add-team-to-season"
                                >
                                    <mat-icon>arrow_back</mat-icon>
                                </button>
                                <p>{{ team.name }}</p>
                            </div>
                        }
                    }
                }
            </div>
        } -->
    </div>
}
