@if (season) {
    <mat-card appearance="outlined">
        <mat-card-title class="text-center p-4">
            {{ "MATCH_SCHEDULING.MATCH_KICKOFF_APPOINTMENTS" | translate}}
        </mat-card-title>
        <mat-card-content>
            <div class="flex flex-wrap justify-center gap-4">
                @for( matchAppointmentsFromGroup of matchAppointments?.controls; track $index ) {
                    <mat-card appearance="outlined">
                        <mat-card-content>
                            <div class="flex space-x-4 items-center">
                                <div>
                                    {{ $index + 1 }}
                                </div>
                                <div class="grow grid grid-cols-2 gap-4 items-center" [formGroup]="matchAppointmentsFromGroup">
                                    @if(pitchService.allPitches$ | async; as allPitches) {
                                        <lima-pitch-auto-complete [pitches]="allPitches" formControlName="pitch"></lima-pitch-auto-complete>
                                    }
                                    <mat-form-field class="w-full" subscriptSizing="dynamic">
                                        <mat-label translate>NEW_KICKOFF_TIME</mat-label>
                                        <input
                                            class="text-center"
                                            matInput
                                            type="time"
                                            formControlName="time"
                                            cySelector="input-time"
                                        />
                                    </mat-form-field>
                                    <mat-form-field class="w-full" subscriptSizing="dynamic">
                                        <mat-label translate>MATCH_SCHEDULING.DAYS_OFFSET_FROM_MATCH_DAY_START_DATE</mat-label>
                                        <input
                                            class="text-center"
                                            matInput
                                            type="number"
                                            formControlName="daysOffset"
                                            cySelector="input-time"
                                        />
                                    </mat-form-field>
                                    <span class="italic">{{ calcOffestFromStartDate(matchAppointmentsFromGroup.controls['daysOffset'].value) }}</span>
                                    <lima-team-chooser class="col-span-full" [teams]="season.teams || []" formControlName="unavailableTeams" [multiple]="true" label="{{ 'PLACEHOLDER.UNAVAILABLE_TEAMS' | translate }}"></lima-team-chooser>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                }
            </div>
        </mat-card-content>
    </mat-card>
    @if( matchAppointments?.valid ) {
        <mat-card appearance="outlined">
            <mat-card-title class="text-center p-4" translate>
                MATCH_SCHEDULING.PREVIEW
            </mat-card-title>
            <mat-card-content class="justify-center">
                <div class="flex flex-wrap justify-center gap-4">
                    @for( matchDay of exampleMatchDays(); track $index ) {
                        <mat-card appearance="outlined">
                            <mat-card-title class="text-center p-4">
                                <p>{{ "MATCHDAY" | translate : { matchDay: matchDay.number } }}</p>
                                <p class="text-sm">{{ matchDay?.start_date | customDate }} - {{ matchDay?.end_date | customDate }}</p>
                            </mat-card-title>
                            <mat-card-content>
                                <div class="flex flex-col items-center">
                                    <div>
                                        
                                    </div>
                                    <ul>
                                        @for( match of matchDay.matches; track $index ) {
                                            @if(match?.kickoff) {
                                                <li>
                                                    {{ match?.kickoff! | customDate:'short':'utc' }} {{ match?.pitch?.label }}
                                                </li>
                                            }
                                        }
                                    </ul>
                                    <button matButton="outlined" (click)="scheduleAllMatchesForMatchDay($index)">
                                        <span translate>MATCH_SCHEDULING.SCHEDULE_MATCHES_FOR_MATCHDAY</span>
                                    </button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    }
                </div>
                <mat-card-footer class="flex justify-center m-4">
                    <button matButton="outlined" (click)="scheduleAllMatchesForSeason()">
                        <span translate>MATCH_SCHEDULING.SCHEDULE_MATCHES_FOR_SEASON</span>
                    </button>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
         <mat-card appearance="outlined">
            <mat-card-title class="text-center p-4">
                REAL MATCHES
            </mat-card-title>
            <mat-card-content class="justify-center">
                <div class="flex flex-wrap justify-center gap-4">
                    @for (matchDay of season.match_days; track $index) {
                        <mat-card appearance="outlined">
                            <mat-card-title class="text-center p-4">
                                <p>{{ "MATCHDAY" | translate : { matchDay: matchDay?.number } }}</p>
                                <p class="text-sm">{{ matchDay?.start_date | customDate }} - {{ matchDay?.end_date | customDate }}</p>
                            </mat-card-title>
                            <mat-card-content>
                                <div class="flex flex-col items-center">
                                    <ul>
                                        @for( match of matchDay?.matches; track $index ) {
                                            @if(match?.kickoff) {
                                                <li>
                                                    {{ match?.home_team?.name }} - {{ match?.guest_team?.name }}
                                                    {{ match?.kickoff! | customDate:'short' }} {{ match?.pitch?.label }}
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    }
                </div>
            </mat-card-content>
        </mat-card>
    }
}
