<h1 mat-dialog-title class="text-center mat-sys-primary" translate>
    @if (user) {
        <span translate>TITLE.EDIT_USER</span>
    } @if (!user) {
        <span translate>TITLE.ADD_USER</span>
    }
</h1>
<div mat-dialog-content class="flex justify-center w-full mt-2 mb-2">
    <div
        [formGroup]="userFormGroup"
        class="flex flex-col justify-center w-full p-2"
    >
        <mat-form-field>
            <mat-label translate>LABEL.EMAIL</mat-label>
            <input matInput formControlName="email" cySelector="input-email" trim/>
        </mat-form-field>
        <mat-form-field>
            <mat-label translate>LABEL.FIRST_NAME</mat-label>
            <input matInput formControlName="first_name" cySelector="input-first-name"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label translate>LABEL.LAST_NAME</mat-label>
            <input matInput formControlName="last_name" cySelector="input-last-name"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label translate>LABEL.USER_ROLE</mat-label>
            <mat-select formControlName="role" name="userRole" cySelector="select-user-role">
                <mat-option cySelector="user-role-admin" value="admin">
                    <span translate>UserRole.admin</span>
                </mat-option>
                <mat-option cySelector="user-role-team_manager" value="team_manager">
                    <span translate>UserRole.team_manager</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        @if (userFormGroup.value.role === UserRole.TeamManager) {
            <mat-form-field>
                <mat-label translate>LABEL.TEAMS</mat-label>
                <input matInput [formControl]="searchTeam" />
                <mat-select formControlName="team_ids" name="teams" multiple cySelector="select-team">
                    @for (team of allTeams$ | async; track team) {
                    <mat-option [value]="team?.id">
                        {{ team?.name }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        }
    </div>
</div>
<mat-dialog-actions align="center">
    <button matButton="outlined" mat-dialog-close>
        <span translate>BUTTON.CANCEL</span>
    </button>
    <button
        matButton="tonal"
        (click)="onSaveClicked()"
        [disabled]="!userFormGroup.valid"
        cySelector="button-save-user"
    >
        <mat-icon>save</mat-icon>
        <span translate>BUTTON.SAVE</span>
    </button>
</mat-dialog-actions>
