<h3 mat-dialog-title>
  <div class="row">
    <div class="col-12 text-center">
      {{ 'CANCEL_MATCH' | translate }}
    </div>
    <div class="col-12 text-center">
      {{ match.home_team.name}} - {{ match.guest_team.name}}
    </div>
  </div>
</h3>
<div mat-dialog-content>
  <mat-form-field style="width: 100%">
    <input matInput placeholder="{{ 'PLACEHOLDER.CANCEL_REASON' | translate }}" #reason
            maxlength="255"
    >
    <mat-hint align="end">{{reason.value.length}} / 255</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-action align="center">
  <button class="mr-5" mat-dialog-close mat-raised-button color="primary">{{ 'BUTTON.CANCEL' | translate }} </button>
  <button mat-raised-button color="primary" (click)="cancelMatch(reason.value)" [disabled]="!reason.value">{{ 'BUTTON.CANCEL_MATCH' | translate }} </button>
</div>