<div class="w-full">
  <mat-toolbar class="border-t-2">
    <div class="flex w-full h-full">
      <div class="w-full self-center">
        @if (teams$ | async; as teams) {
          @if (teams.length > 1) {
            <lima-team-chooser [selectedTeamFC]="selectedTeamFC" [teams]="teams"></lima-team-chooser>
          } @else {
            <div>{{ teams[0]?.name }}</div>
          }
        }
      </div>
    </div>
  </mat-toolbar>
</div>
@if (selectedTeam$ | async) {
}
<router-outlet></router-outlet>