<div class="w-full">
  <mat-toolbar class="border-t-2 dark:border-toolbardark overflow-auto">
    <div class="flex w-full h-full">
      <div class="w-1/2 self-center">
        @if (teams$ | async; as teams) {
          <lima-team-chooser [selectedTeamFC]="selectedTeamFC" [teams]="teams"></lima-team-chooser>
        }
      </div>
      <!-- @for (team of teams$ | async; track team) {
        <a class="flex h-full items-center p-2" routerLink="{{team?.id}}" routerLinkActive="bg-theme-900 text-theme-c900">{{ team?.name }}</a>
      } -->
    </div>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>