.fade-in {
  animation: fade-in 1s;
}

.fade-out {
  animation: fade-out 1s;
}

.slide-in-rtl {
  animation: slide-in-rtl 1s, fade-out 1s;
}

.slide-out-rtl {
  animation: slide-out-rtl 1s, fade-in 1s;
}

.slide-in-ltr {
  animation: slide-in-ltr 1s, fade-out 1s;
}

.slide-out-ltr {
  animation: slide-out-ltr 1s, fade-in 1s;
}

@keyframes slide-in-ltr {
  from {
    translate: -100%;
  }
  to {
    translate: 0;
  }
}

@keyframes slide-out-ltr {
  from {
    translate: 0 calc( ( var(--data-length) * -100% ) - ( var(--data-length) * 8px) )
  }
  to {
    translate: 100% calc( ( var(--data-length) * -100%) - ( var(--data-length) * 8px) )
  }
}

@keyframes slide-in-rtl {
  from {
    translate: 100%;
  }
  to {
    translate: 0;
  }
}

@keyframes slide-out-rtl {
  from {
    translate: 0 calc( ( var(--data-length) * -100%) - ( var(--data-length) * 8px) )
  }
  to {
    translate: -100% calc( ( var(--data-length) * -100%) - ( var(--data-length) * 8px) )
  }
}

@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
