@use "tailwindcss";
@import "./colors.scss";
@import "./animations.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-snackbar__surface {
    background-color: unset !important;
}

.mdc-snackbar__label {
    color: unset !important;
}