<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-7">
      <mat-form-field>
        <mat-select #tournamentSelect [(value)]="manageTournamentId" placeholder="{{ 'PLACEHOLDER.SELECT_TOURNAMENT' | translate }}"
          (selectionChange)="onTournamentSelected()">
          <mat-option *ngFor="let tournament of tournaments | async" [value]="tournament.id">
            {{ tournament.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input #newTournament matInput placeholder="{{ 'PLACEHOLDER.NEW_TOURNAMENT' | translate }}" (keyup.enter)="createNewTournament(newTournament.value)"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-raised-button color="primary" (click)="createNewTournament(newTournament.value)">{{ 'BUTTON.CREATE_TOURNAMENT'
        | translate}}</button>
    </div>
  </div>
  <ng-container *ngIf="manageTournamentId">
    <div class="row justify-content-center">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="{{ 'PLACEHOLDER.EDIT_TOURNAMENT_ROUND' | translate }}" type="number" min="1" [(ngModel)]="createRoundNr"
          />
        </mat-form-field>
      </div>
      <div class="col">
      <button mat-raised-button color="primary" (click)="editRound()">
        {{ 'BUTTON.EDIT_ROUND' | translate }}
      </button>
    </div>
    </div>
    <div class="col">
      <ng-container *ngFor="let mt of manageTournamentRounds | async">
        <h3>{{ mt.number }}. {{ 'ROUND' | translate }}</h3>
        <div class="row" *ngFor="let match of mt.matches">
          <div class="col">
            {{ match.home_team.name }} - {{ match.guest_team.name }}
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <!-- <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="{{ 'PLACEHOLDER.START_TEAM_COUNT' | translate }}" type="number" min="4" [(ngModel)]="startTeamCount"
          (change)="genRounds()" />
      </mat-form-field>
    </div>
  </div>
  <div class="row text-center" style="border: solid" *ngFor="let round of rounds">
    <div class="col" *ngFor="let game of round">
      {{ 'MATCH' | translate }} {{ game }}
    </div>
  </div> -->
</div>