<div class="container-fluid">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-select #seasonSelect [(value)]="manageTournament" placeholder="{{ 'SELECT_TOURNAMENT_PLACEHOLDER' | translate }}">
          <mat-option *ngFor="let tournament of tournaments" [value]="tournament">
            {{ tournament.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input #newTournament matInput placeholder="{{ 'NEW_TOURNAMENT_PLACEHOLDER' | translate }}" (keyup.enter)="createNewTournament(newTournament.value)"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-raised-button color="primary" (click)="createNewTournament(newTournament.value)" translate>CREATE_TOURNAMENT_BUTTON</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="{{ 'START_TEAM_COUNT_PLACEHOLDER' | translate }}" type="number" min="4" [(ngModel)]="startTeamCount" (change)="genRounds()"/>
      </mat-form-field>
    </div>
  </div>
  <div class="row text-center" style="border: solid" *ngFor="let round of rounds">
    <div class="col" *ngFor="let game of round">
      {{ 'Game' | translate }} {{ game }}
    </div>
  </div>
  <mat-form-field>
      <input matInput placeholder="{{ 'EDIT_TOURNAMENT_ROUND_PLACEHOLDER' | translate }}" type="number" [(ngModel)]="createRoundNr"/>
    </mat-form-field>
  <button mat-button (click)="editRound(createRoundNr)" translate>
      EDIT_ROUND
</button>
</div>