<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-7">
      <mat-form-field>
        <mat-select #tournamentSelect [(value)]="manageTournamentId"
          placeholder="{{ 'PLACEHOLDER.SELECT_TOURNAMENT' | translate }}" (selectionChange)="onTournamentSelected()">
          <mat-option *ngFor="let tournament of tournaments | async" [value]="tournament.id">
            {{ tournament.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input #newTournament matInput placeholder="{{ 'PLACEHOLDER.NEW_TOURNAMENT' | translate }}"
          (keyup.enter)="createNewTournament(newTournament.value)" />
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-raised-button color="primary" (click)="createNewTournament(newTournament.value)">{{ 'BUTTON.CREATE_TOURNAMENT'
        | translate}}</button>
    </div>
  </div>
  <ng-container *ngIf="manageTournamentId">
    <div class="row">
      <div class="col">
        <button mat-raised-button color="primary" class="pb-1" (click)="editRound(manageTournamentRoundCount)">
          {{ 'NEW_TOURNAMENT_ROUND' | translate }}
        </button>
      </div>
      <div class="col text-right">
        <button mat-raised-button color="primary" class="pb-1" (click)="deleteTournament(manageTournamentId)">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
    </div>
    <ng-container *ngIf="(manageTournamentRounds | async) as mtr">
      <ng-container *ngFor="let mt of mtr">
        <h3>
          {{ mt.number }}. {{ 'ROUND' | translate }} ({{ mt.start_date | date:'shortDate':'':i18Service.currentLang}} -
          {{ mt.end_date | date:'shortDate':'':i18Service.currentLang}})
          <button mat-raised-button color="primary" (click)="editRound(mt.number)">
            <mat-icon>
              edit
            </mat-icon>
          </button>
        </h3>
        <div class="row" *ngFor="let match of mt.matches">
          <div class="col">
            {{ match.home_team.name }} - {{ match.guest_team.name }}
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>