/* You can add global styles to this file, and also import other style files */
//@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./wildeligga.material-theme.scss";
@import "./style-variables.scss";
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
// @import '~@fullcalendar/core/main.css';
// @import '~@fullcalendar/daygrid/main.css';

// html {
//     font-size: 1rem;
//   }
  
  @include media-breakpoint-up(xs) {
    .font-size-sm {
      font-size: 0.7rem;
    }
  }
  
  @include media-breakpoint-up(sm) {
    .font-size-sm {
      font-size: 1rem;
    }
  }
  
//   @include media-breakpoint-up(lg) {
//     html {
//       font-size: 1rem;
//     }
//   }
.my-full-screen-dialog .mat-dialog-container {
  //max-width: none;
  width: 100vw;
  max-height: 80vh;
  }

  .border-bottom {
    border-bottom: 1px solid lightgray;
}

.fc-bg-event {
  background: #ffc700 !important;
  opacity: .7;
}