@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-primary {
        @apply bg-theme text-theme-cdefault;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}