<div class="flex justify-center w-full">
  <mat-select #seasonSelect [compareWith]="seasonService.seasonCompare" data-cy="select-season"
    (selectionChange)="currentSeasonChanged($event)" [value]="season$ | async"
    placeholder="{{ 'PLACEHOLDER.SELECT_SEASON' | translate }}">
    @for (season of seasonList$ | async; track season) {
      <mat-option [value]="season">
        @if (season) {
          @switch (season.state) {
            @case (SeasonState.Progress) {
              {{ season.name }}
            }
            @default {
              {{ season.name }} ({{ season.state | enumTranslate }})
            }
          }
        }
      </mat-option>
    }
  </mat-select>
</div>