<li class="nav-item">
  <a class="nav-link" routerLink="table" routerLinkActive="active" translate>MENU.TABLE</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="matchplan" routerLinkActive="active" translate>MENU.MATCHPLAN</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="tournament" routerLinkActive="active" translate>MENU.TOURNAMENT</a>
</li>
<li class="nav-item" *ngIf="authService.isTeamAdmin">
  <a class="nav-link" routerLink="teamadmin" routerLinkActive="active" translate>MENU.TEAM_ADMIN</a>
</li>
<li class="nav-item" *ngIf="authService.isAdmin">
  <a class="nav-link" routerLink="admin" routerLinkActive="active" translate>MENU.ADMIN</a>
</li>