<li class="nav-item">
  <a class="nav-link" routerLink="table" routerLinkActive="active">Table</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="matchplan" routerLinkActive="active">Matchplan</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="tournament" routerLinkActive="active">Tournament</a>
</li>
<li class="nav-item" *ngIf="authService.isTeamAdmin">
  <a class="nav-link" routerLink="teamadmin" routerLinkActive="active">TeamAdmin</a>
</li>
<li class="nav-item" *ngIf="authService.isAdmin">
  <a class="nav-link" routerLink="admin" routerLinkActive="active">Admin</a>
</li>