<h3 mat-dialog-title class="text-center"> {{ 'CONTACT' | translate }}</h3>
<mat-dialog-content>
  <div class="card mb-2" *ngFor="let team of data.teams">
    <h5 class="card-header">
      {{ team.name }}
    </h5>
    <div class="card-body">
      <app-contact-person [contact]="team.contact"></app-contact-person>
    </div>
  </div>
  <div class="card" *ngIf="data.pitch">
    <h5 class="card-header">
      {{ data.pitch.label }}
    </h5>
    <div class="card-body">
      <app-contact-person [contact]="data.pitch.contact"></app-contact-person>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="dialogRef.close()">{{ 'BUTTON.CLOSE' | translate }}</button>
</mat-dialog-actions>