<div class="container">
  <h3 mat-dialog-title class="text-center"> {{ 'CONTACT' | translate }}</h3>
  <mat-dialog-content>
    <div>
      <div class="card" *ngFor="let team of teams">
        <h3 class="card-header">
          {{ team.name }}
        </h3>
        <div class="card-body">
          <div class="row">
            <div class="col-1">
              <i class="fa fa-user"></i>
            </div>
            <div class="col" *ngIf="team.contact">
              {{team.contact.first_name}} {{team.contact.last_name}}
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <i class="material-icons">
                contact_phone
              </i>
            </div>
            <div class="col" *ngIf="team.contact">
              <a href="tel:{{team.contact.phone}}">{{team.contact.phone}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <i class="material-icons">
                contact_mail
              </i>
            </div>
            <div class="col" *ngIf="team.contact">
              <a href="mailto:{{team.contact.email}}">{{team.contact.email}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button (click)="dialogRef.close()">{{ 'BUTTON.CLOSE' | translate }}</button>
  </mat-dialog-actions>
</div>