@if (season) {
    @if (!season.match_days || season.match_days.length === 0) {
        <div class="flex justify-center flex-col space-y-4 mt-4 w-full items-center">
            <div>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label translate>START_SEASON_DATE</mat-label>
                    <input matInput [matDatepicker]="startSeasonDatePicker"
                        cySelector="input-tournament-season-start-date"
                        [formControl]="seasonStartDate"
                        (dateChange)="createMatchDays()">
                    <mat-datepicker-toggle matSuffix [for]="startSeasonDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startSeasonDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label translate>BETWEEN_MATCHDAYS_OFFSET</mat-label>
                    <input matInput [formControl]="betweenMatchDaysOffset">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label translate>FROM_TO_OFFSET</mat-label>
                    <input matInput [formControl]="fromToOffset">
                </mat-form-field>
            </div>
            <button mat-stroked-button (click)="saveMatchDays(season)" cySelector="button-save-match-days">
                <span translate>BUTTON.SAVE_MATCHDAYS</span>
            </button>
        </div>
    }
    <mat-card>
        <mat-card-content class="text-center">
            @for (matchDay of matchDays(); track matchDay; let index = $index) {
                <div class="flex flex-col">
                    <div>
                        {{ "MATCHDAY" | translate : { matchDay: index + 1 } }}
                    </div>
                    <div>
                        {{ matchDay.from | date }} - {{ matchDay.to | date }}
                    </div>
                </div>
            }
        </mat-card-content>
    </mat-card>
}
