<mat-toolbar class="border-t-2 dark:border-toolbardark">
    <div class="flex justify-center w-full h-full">
        <a class="flex h-full items-center p-2" routerLink="table" routerLinkActive="primary-container" translate>NAVIGATION.TABLE</a>
        <a class="flex h-full items-center p-2" routerLink="schedule" routerLinkActive="primary-container" translate>NAVIGATION.SCHEDULE</a>
        <a class="flex h-full items-center p-2" routerLink="tournament" routerLinkActive="primary-container" translate>NAVIGATION.TOURNAMENT</a>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>