<ng-container *ngIf="teams">

    <ng-container *ngFor="let team of teams">
        <div class="flex">
            {{ team?.name }}
            Preview :
            <img class="w-[128px] h-[128px]" src="team-logos/{{team?.id}}-preview">
            <button class="bg-theme text-theme-cdefault" mat-button (click)="commitPreview(team?.id!)">
                <span translate>BUTTON.COMMIT_PREVIEW</span>
            </button>

            Current :
            <img class="w-[128px] h-[128px]" src="team-logos/{{team?.id}}">

            <input type="file" (change)="onFileSelected($event, team?.id!)">
        </div>
    </ng-container>

</ng-container>