<div class="container" style="margin-top: 30px;">
  <div class="row text-center" style="justify-content: center;">
    <div class="col-6">
      <app-seasonchooser></app-seasonchooser>
    </div>
  </div>
  <div *ngIf="(rankingQGL | async) as ranking" class="table-responsive" style="scrollbar-x-position: top;">
    <table class="table table-striped font-size-sm">
      <thead class="table-dark">
        <tr>
          <th translate style="max-width: 3ch;">TABLE.PLACE</th>
          <th class="col-6" translate>TABLE.TEAM</th>
          <th class="col-1" translate>TABLE.GAMES</th>
          <th class="col-1" translate>TABLE.WIN_DRAW_LOST</th>
          <th class="col-2" translate>TABLE.TORE:TORE</th>
          <th class="col-1" translate>TABLE.POINTS</th>
        </tr>
      </thead>
      <tbody class="">
        <ng-container *ngFor="let pos of ranking.positions">
          <tr>
            <td>{{ pos.number }}</td>
            <td>{{ pos.team.name }}</td>
            <td>{{ pos.matches }}</td>
            <td>{{ pos.wins }}:{{ pos.draws }}:{{ pos.losses }}</td>
            <td>{{ pos.scored_goals }}:{{ pos.conceded_goals }} ({{ pos.scored_goals - pos.conceded_goals }})</td>
            <td>{{ pos.points }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div>
      {{ ranking.updated_at | date}}
    </div>
  </div>
</div>