<div class="container-fluid">
  <h3 style="text-align: center">{{ currentSeasonName }}</h3>
  <table class="table table-striped" *ngIf="ranking">
    <thead class="table-dark">
      <tr>
        <th class="col-1">#</th>
        <th class="col-6">Team</th>
        <th class="col-1">G</th>
        <th class="col-1">w:d:l</th>
        <th class="col-2">SG:CG</th>
        <th class="col-1">P</th>
      </tr>
    </thead>
    <tbody class="">
      <ng-container *ngFor="let pos of ranking.positions">
        <tr>
          <td>{{ pos.number }}</td>
          <td>{{ teamService.getTeamById(pos.team_id).name }}</td>
          <td>{{ pos.matches }}</td>
          <td>{{ pos.wins }}:{{ pos.draws }}:{{ pos.losses }}</td>
          <td>{{ pos.scored_goals }}:{{ pos.conceded_goals }} ({{ pos.scored_goals - pos.conceded_goals }})</td>
          <td>{{ pos.points }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>