<div class="container">
    <div class="row">
        <div class="col">
            <mat-form-field style="width: 100%">
                <input matInput placeholder="{{ 'Password' | translate }}" [(ngModel)]="newPassword" [formControl]="password" required
                />
                <mat-error *ngIf="password.invalid">{{ 'ENTER_VALID_PASSWORD' | translate}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="col">
        <button mat-button (click)="changePassword()" [disabled]="password.invalid">Ok</button>
    </div>
</div>